.submit{
    color: white !important;
    border-radius: 5px;
}
.margin-top-10{
    margin-top: 10px;
}
.custom-file-upload-image {
    margin: 20px;
    border: 4px solid lightblue;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
img {
    vertical-align: middle;
    border-style: none;
    width: 340px;
    height:200px;
    margin-right: 9%;
    border: 5px solid #ccc;
}
.margin-top-10 {
    margin-top: 10px;
    margin-right: 12px;
}
.photoBtn {
    margin-right: 20px;
}
.custom-file-upload-image input{
    display:none;
}