

<!--Tabs Starts-->
<div class="row" matchHeight="card" *ngIf="user.role.userPermissions.addEditCompanyInfo === false ">
  <div class="col-xl-12 col-lg-12">
    <div class="card card-add">
      <div class="card-header">
        <h4 class="card-title mb-0"> ليس لديك صلاحيات للإضافة او التعديل علي معلومات الشركة </h4>
      </div>
   </div>
  </div>
</div>

<div class="row" matchHeight="card" *ngIf="user.role.userPermissions.addEditCompanyInfo === true ">
  <div class="col-xl-12 col-lg-12">
    <div class="card card-add" >
      <div class="card-header"  >
        <h4 class="card-title mb-0"> اعدادات الحساب</h4>
      </div>
</div>
<!--Tabs Starts-->
<section id="tabs" *ngIf="user.role.userPermissions.addEditCompanyInfo === true ">
  <div class="row ">
    <div class="col-sm-12">
    </div>
  </div>
  <div class="row ">
    <!--Tabset Starts-->
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <ngb-tabset>
              <ngb-tab>
                <ng-template ngbTabTitle> <i class="icon-settings" aria-hidden="true"></i>  معلومات الشركة</ng-template>
                <ng-template ngbTabContent>
                  <form [formGroup]="userForm" >
                    <div class="content with-padding padding-bottom-0">
                        <div class="row">
                            <div class="col-xl-12">
              
                                    <div class="col-md-12">
                                      <div class="submit-field form-group"
                                      [ngClass]="{'has-error': userForm.get('name')?.errors &&
                                                  (userForm.get('name').touched || userForm.get('name').dirty)}">
                                            <h5 class="control-label">اسم الشركة </h5>
                                            <input  type="text" class="form-control" formControlName='name' >
                                            <span class="alert alert-danger" *ngIf="userForm.get('name')?.errors &&
                                            (userForm.get('name').touched || userForm.get('name').dirty)">
                                            <span  *ngIf="userForm.get('name').errors.required">اسم المستخدم مطلوب</span>
                                            <span  *ngIf="userForm.get('name').errors.minlength || userForm.get('name').errors.maxlength">اقل عدد حروف متاح 4 ,اكثر عدد حروف متاح 50  </span>
                                            </span>
                                        </div>
                                    </div>
              
                                  <div class="col-md-12">
                                    <div class="submit-field form-group"
                                     [ngClass]="{'has-error': userForm.get('phone')?.errors &&
                                                 (userForm.get('phone').touched || userForm.get('phone').dirty)}">
                                        <h5 class="control-label">الهاتف</h5>
                                        <input  type="text" class="form-control" formControlName='phone' >
                                        <span class="alert alert-danger" *ngIf="userForm.get('phone')?.errors &&
                                        (userForm.get('phone').touched || userForm.get('phone').dirty)">
                                        <span  *ngIf="userForm.get('phone').errors?.required"> الهاتف مطلوب</span>
                                        <span  *ngIf="userForm.get('phone').errors?.phone">الهاتف غير صحيح</span>
                                        </span>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                  <div class="submit-field form-group"
                                   [ngClass]="{'has-error': userForm.get('')?.errors &&
                                               (userForm.get('email').touched || userForm.get('email').dirty)}">
                                      <h5 class="control-label">الايميل</h5>
                                      <input  type="text" class="form-control" formControlName='email' >
                                      <span class="alert alert-danger" *ngIf="userForm.get('email')?.errors &&
                                      (userForm.get('email').touched || userForm.get('email').dirty)">
                                      <span  *ngIf="userForm.get('email').errors?.required">اسم الكامل مطلوب</span>
                                      <span  *ngIf="userForm.get('email').errors?.email">الايميل غير صحيح</span>
                                      </span>
                                  </div>
                              </div>

                                <div class="col-md-12">
                                  <div class="submit-field form-group"
                                   [ngClass]="{'has-error': userForm.get('address')?.errors &&
                                               (userForm.get('address').touched || userForm.get('address').dirty)}">
                                      <h5 class="control-label">العنوان</h5>
                                      <input  type="text" class="form-control" formControlName='address' >
                                      <span class="alert alert-danger" *ngIf="userForm.get('address')?.errors &&
                                      (userForm.get('address').touched || userForm.get('address').dirty)">
                                      <span  *ngIf="userForm.get('address').errors?.required"> العنوان مطلوب</span>
                              
                                      </span>
                                  </div>
                              </div>

                              <div class="col-md-12">
                                <div class="submit-field form-group"
                                 [ngClass]="{'has-error': userForm.get('')?.errors &&
                                             (userForm.get('currency').touched || userForm.get('currency').dirty)}">
                                    <h5 class="control-label">العملة</h5>
                                    <input  type="text" class="form-control" formControlName='currency' >
                                    <span class="alert alert-danger" *ngIf="userForm.get('currency')?.errors &&
                                    (userForm.get('currency').touched || userForm.get('currency').dirty)">
                                    <span  *ngIf="userForm.get('currency').errors?.required">الحقل مطلوب</span>
                                    </span>
                                </div>
                            </div>
                                  </div>
                            </div>
                        </div>
                        <div  *ngIf="companyAccount.length === 0"  class="buttons margin-top-10">
                            <input type="submit"  (click)="onSubmiInfoForm(userForm)" class=" btn btn-primary submit" value="حفظ">
                        </div>
                        <div  *ngIf="companyAccount.length > 0" class="buttons margin-top-10">
                          <input type="submit"  (click)="onEditInfoForm(userForm)" class=" btn btn-primary submit" value="تعديل">
                      </div>
                    </form>
                </ng-template>
              </ngb-tab>
             
              <ngb-tab *ngIf="companyAccount.length > 0">
                <ng-template  ngbTabTitle> <i class="icon-info" aria-hidden="true"></i>  الصورة</ng-template>
                <ng-template ngbTabContent>
                  <form (ngSubmit)="onSubmitImage()" [formGroup]="">
                      <div class="row">
                        <div class="col-md-4">
                          <div *ngIf="fileUploadProgress">
                              <div class="progress0">
                                  <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': fileUploadProgress , 'height': '10px' }"></div>
                              </div>
                          </div>

                         
                          <img  *ngIf="selectedFile" class="photo" [src]="selectedFile ? selectedFile : 'https://res.cloudinary.com/reg1rego3/image/upload/v1585916456/user_rygoeq.png'" file accept='image/*' />
                          <img   *ngIf="companyAccount[0].active === true && !selectedFile" class="photo" src="https://res.cloudinary.com/reg1rego3/image/upload/v{{companyAccount[0]?.imageCover.imageVersion}}/{{companyAccount[0]?.imageCover.imageId}}.jpg" alt="صورة توقيع الشركة">
                         
                          
                          <label class="mb-3 custom-file-upload-image input-group">
                              <input  class="SelectImage" id="fileInput" type="file" required   ng2FileSelect [uploader]="uploader" (onFileSelected)="OnFileSelect($event)" accept="image/*   ">
                              <span> <p class="upload"><i class="fa fa-download" aria-hidden="true"></i>  اختار صورة  </p></span>
                             </label>
                      </div>          
   
                   </div>
                   <div class="fg-actions d-flex justify-content-between">
                    <div class="recover-pass" >
                      <button class="btn btn-primary photoBtn" *ngIf="selectedFile"  (click)="onSubmitImage()">
                        <a class="text-decoration-none text-white">
                            حفظ
                        </a>
                    </button>
                        <button  *ngIf="!selectedFile" class="btn btn-primary photoBtn" disabled='document.getElementById("fileInput").value == "" ' (click)="onSubmitImage()">
                            <a class="text-decoration-none text-white">
                                حفظ
                            </a>
                        </button>
                    </div>
                </div>
                    </form>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>
    <!--Tabset Ends-->    
  </div>

</section>
