
<div class="row" matchHeight="card">
  <div class="col-xl-12 col-lg-12">
    <div class="card card-add" >
      <div class="card-header"  >
        <div>
            <button (click)="exportCSV()" class=" btn btn-default csv left" >
              <i class="icon-share-alt icon"></i>  CSV
            </button>
            <button type="button" class="btn btn-primary btn-raised my-1" printTitle="سند صرف او قبض " [useExistingCss]="true" printSectionId="print-section" ngxPrint><i class="icon icon-printer"></i> طباعة</button>
        </div>
      </div>
</div>
<div class="row" matchHeight="card">
  <div class="col-xl-12 col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">  اضافة سند </h4>
      </div>
      <div class="card-content completed-tours">
        <div class="card-body add-items"  >
          <form [formGroup]="bondForm"  novalidate>
            
              <div class="row">
                  <div class="form-group col-sm-3">
                      <label for="street"> اسم الحساب</label><span class="red">*</span>
                      <select  class="form-control" data-size="7" formControlName="accountName"  >
                        <option *ngFor="let company of companies"  [ngValue]="company">{{company.name}}</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-3">
                      <label for="houseNumber">نوع العملية</label><span class="red">*</span>
                      <select  class="form-control" data-size="7" formControlName="type"  >
                        <option *ngFor="let type of types"  [ngValue]="type">{{type}}</option>
                    </select>
                  </div>
                 
                  <div class="form-group col-sm-3">
                    <label for="postalCode">المبلغ</label> ريال <span class="red">*</span>
                    <input type="text" formControlName="amount" class="form-control"> 
                </div>
                <div class="form-group col-sm-3">
                  <label for="postalCode">البيان</label><span class="red">*</span>
                  <input type="text" formControlName="notes" class="form-control">
              </div>
             
              </div> 
          <div class="buttons margin-top-10">
            <input type="submit"  (click)="submitNewBond(bondForm)" class=" btn btn-primary submit " value="حفظ">
        </div>
        </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-12 col-lg-12" id="print-section">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">السندات</h4>
        <div class="fonticon-wrap"  (click)="deleteSafeboxes()">
          <i class="icon-pencil icon"></i>
        </div> 
      </div>
      <div class="card-content">
        <div class="card-body">
          <p-table  #dt [value]="bonds"  dataKey="title" [rows]="10" [showCurrentPageReport]="true" [paginator]="true" [rowsPerPageOptions]="[5,10,15,20]"
          currentPageReportTemplate="" [style]="{'width':'100%','overflow':'auto!important'}"
          [resizableColumns]="true" columnResizeMode="expand" styleClass="ui-table-customers" [autoLayout]="true"
          [responsive]="true" selectionMode="single"
          [filterDelay]="0" [globalFilterFields]="['title','number','date','notes','type']">
          <ng-template pTemplate="caption"   >
            <div class="ui-table-globalfilter-container">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="بحث" >
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="number">القيد <p-sortIcon field="number"></p-sortIcon></th>
                <th pSortableColumn="number">رقم السند <p-sortIcon field="number"></p-sortIcon></th>
                <th pSortableColumn="type"> وصف الحركة  <p-sortIcon field="type"></p-sortIcon></th>
                <th pSortableColumn="createdAt">التاريخ <p-sortIcon field="createdAt"></p-sortIcon></th>
                <th pSortableColumn="amount">قيمة السند <p-sortIcon field="amount"></p-sortIcon></th>
                <th pSortableColumn="notes">التفاصيل <p-sortIcon field="notes"></p-sortIcon></th>
                <th pSortableColumn="accountType">اسم الحساب <p-sortIcon field="accountType"></p-sortIcon></th> 
            </tr>
         </ng-template>
          <ng-template pTemplate="body" let-bond  let-rowIndex="rowIndex">
            <tr>
                <!-- <td></td> -->
                <td>{{ rowIndex }}</td>
                <td><a href="/full-layout/full-pages/bonds/{{bond.number}}">#{{bond?.number}}</a></td>
                <td> 
                  <span class="red" *ngIf="bond?.type === 'سند صرف'"> {{bond?.type}}</span> 
                  <span class="green" *ngIf="bond?.type === 'سند قبض'"> {{bond?.type}}</span>
                 </td>
                <td>{{bond?.createdAt | date}}</td>
                <td>{{bond?.amount}}</td>
                <td>{{bond?.notes}}</td>
                <td>{{bond?.accountName.name}}</td>

             </tr>
          </ng-template>
        </p-table>

      
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" matchHeight="card">

</div>








