
<div class="row" matchHeight="card">
  <div class="col-xl-12 col-lg-12">
    <div class="card card-add">
      <div class="card-header">
        <h4 class="card-title mb-0">الغاء حجز تأشيرة</h4>
      </div>
      <div class="card-content completed-tours">
        <div class="card-body add-items">

      <!-- Cancel Visa-->
      <form   [formGroup]="visaForm"  novalidate>
          <div class="row">
            <div class=" borderSection form-inline"> 
              <div class="form-group  col-sm-12 col-md-4 ">
                <label for="street"> رقم الحجز</label>
                <select (change)='onVisaNumberSelected($event)' class="form-control" data-size="7" formControlName="companyAccount"  >
                  <option *ngFor="let visa of visas"   [ngValue]="visa.number">{{visa.number}}</option>
              </select><span class="red">*</span>
              </div>
                <div class="form-group  col-sm-12 col-md-4 ">
                      <label for="street"> القطع من</label>
                      <input type="text"  formControlName="bookingFrom" class="form-control ">
                </div>
                <div class="form-group col-sm-12 col-md-4 ">
                  <label for="street"> القطع الي</label>
                  <input type="text"  formControlName="bookingTo" class="form-control">
                </div>
                <div class="form-group col-sm-12 col-md-4 payment">
                  <label for="street">طريقة الدفع</label>
                  <input type="text"  formControlName="paymentMethod" class="form-control ">
                </div>
              <div class="form-group col-sm-12 col-md-4 payment">
                <label for="street">الوجهة</label> 
                <input  class="checkbox" type="text" formControlName="destination" class="form-control">
              </div>
              <div class="form-group col-sm-12 col-md-4 payment">
                <label for="street">الملاحظات</label>
                <input  class="" type="text" formControlName="notes" class="form-control"><span class="red">*</span>
              </div>
            </div>
           </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12" >
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0"> التأشيرات</h4>
      </div>
    
      <div class="card-content">
        <div class="card-body">
          <p-table  #dt [value]="visaArray" dataKey="ticket" [rows]="10" [showCurrentPageReport]="true" [paginator]="true" [rowsPerPageOptions]="[5,10,15,20]"
          [style]="{'width':'100%','overflow':'auto!important'}"
          [resizableColumns]="true" columnResizeMode="expand" styleClass="ui-table-customers" [autoLayout]="true"
          [responsive]="true" selectionMode="single"
          [filterDelay]="0" [globalFilterFields]="['travellerFirstName','travellerType','receivedAmount','netCost','comm' ,'passportNumber','receivedAmount','remainingAmount' ]">
          <ng-template pTemplate="caption">
            <div class="ui-table-globalfilter-container">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="بحث" >
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
                <th>القيد</th>
                <th pSortableColumn="travellerFirstName"> اسم المسافر <p-sortIcon field="travellerFirstName"></p-sortIcon></th>
                <th pSortableColumn="passportNumber">رقم الجواز  <p-sortIcon field="passportNumber"></p-sortIcon></th>
                <th pSortableColumn="netCost"> مبلغ التسديد <p-sortIcon field="netCost"></p-sortIcon></th>
                <th pSortableColumn="receivedAmount">    المبلغ المدفوع    <p-sortIcon field="receivedAmount"></p-sortIcon></th>
                <th pSortableColumn="remainingAmount">    المبلغ المتبقي    <p-sortIcon field="remainingAmount"></p-sortIcon></th>
                <th pSortableColumn="comm"> العمولة<p-sortIcon field="comm"></p-sortIcon></th>
            </tr>
         </ng-template>
          <ng-template pTemplate="body" let-visa let-rowIndex="rowIndex">
            <tr>
                <td>{{rowIndex}}</td>
                <td>{{visa?.travellerFirstName}}  {{visa?.travellerLastName}}</td>   
                <td>{{visa?.passportNumber}}</td> 
                <td>{{visa?.netCost}}</td> 
                <td>{{visa?.receivedAmount}}</td>  
                <td>{{visa?.remainingAmount}}</td> 
                <td>{{visa?.comm}}</td>          
          </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

</div>
</div>
<div class="row" matchHeight="card" class="refund" >
  <div class="col-xl-12 col-lg-12">
    <div class="card cancelSection card-add" >
      <div class="card-header"  >
        <h4 class="card-title mb-0"> خيارات استرجاع التأشيرة (نقدا و أجل )</h4>
        </div>
      <div class="row">
        <div class="col-sm-12  col-md-6 form-inline">
          <div class="form-group payment">
            <input type="radio" [(ngModel)]="cancelType"  name="ticketCancel" value="withComm" (change)="checkCheckBoxvalue($event)">
            <label for="vehicle1" class="form-control label">  إرجاع عمولة التأشيرة كاملة للمسافر </label>
          </div>
          <div class="form-group payment">
            <input type="radio" [(ngModel)]="cancelType"   name="ticketCancel" value="noComm" (change)="checkCheckBoxvalue($event)">
            <label for="vehicle2" class="form-control label">عدم إرجاع عمولة التأشيرة للمسافر وعدم فرض غرامة</label>
          </div>
          </div>
          <div class="col-sm-12  col-md-6 form-inline">
          <div class="form-group payment">
            <input type="radio" [(ngModel)]="cancelType"       name="ticketCancel" value="fineWithComm" (change)="checkCheckBoxvalue($event)">
            <label for="vehicle1" class="form-control label"> فرض غرامة مع إرجاع عمولة كاملة للمسافر</label>
          </div>
          <div class="form-group payment">
            <input type="radio" [(ngModel)]="cancelType"  id="cansel" name="ticketCancel" value="fineNoComm" (change)="checkCheckBoxvalue($event)">
          <label for="vehicle2" class="form-control label"> فرض غرامة مع عدم إرجاع عمولة المسافر</label>
          </div>
        </div>
      </div>    
    </div>
  </div>
</div>

<div class="row" matchHeight="card" >
  <div class="col-md-12">
    <div class="card card-add" >
      <div class="row">

      <form   [formGroup]="visaForm"  novalidate>
      <div class="col-sm-12 form-inline">
        <div class="form-group col-sm-8 payment">
            <label for="street">المبلغ المسترجع من الشركة (القطع من )</label> 
            <input  class="date" type="text" formControlName="totalRefundNetCostPrice" class="form-control "><span class="red">*</span>
        </div>
        <div class="form-group col-sm-12 col-md-4 payment">
          <label for="street">العمولة المسترجعة</label> 
          <input  class="date" type="text" formControlName="totalRefundNetComm" class="form-control ">
      </div>
        <div class="form-group col-sm-8 payment">
            <label for="street">المبلغ المسترجع من الشركة او الزبون (القطع الي )</label> 
            <input  class="date" type="text" formControlName="totalRefundNetSellingPrice" class="form-control "><span class="red">*</span>
        </div>
        
        <div class="form-group col-sm-12 col-md-4 payment">
          <label for="street">الغرامة</label> 
          <input  class="date" type="text" formControlName="fine" class="form-control ">
      </div>

      <div class="buttons margin-top-10">
        <input type="submit"  (click)="submitCancelVisa(visaForm)" class=" btn saveButton submit " value="حفظ">
    </div>
      </div>

    
      </form>
  
      </div>
     
    </div>
  </div>
</div>










