<div class="row" matchHeight="card" *ngIf="user.role.sidebarPermissions.hotels === true">
  <div class="col-xl-12 col-lg-12">
    <div class="card card-add" >
      <div class="card-header"  >
        <h4 class="card-title mb-0"> حجوزات الفنادق</h4>
      </div>
    </div>
   </div>
</div>
<div class="row" matchHeight="card" id="print-section" *ngIf="user.role.sidebarPermissions.hotels === true">

  <div class="col-xl-12 col-lg-12">
    <div class="card">
      <div class="header">
        <div>
          <button (click)="exportCSV()" class=" btn btn-default csv left" >
            <i class="icon-share-alt icon"></i>  CSV
          </button>
          <button type="button" class="btn btn-primary btn-raised my-1" printTitle="الفيز " [useExistingCss]="true" printSectionId="print-section" ngxPrint><i class="icon icon-printer"></i> طباعة</button>
          <button  class=" btn btn-green my-1" > <i class="icon-plus icon"></i><a href="/full-layout/full-pages/bookingHotel">  اضافة حجز جديد</a>
          </button>
          <button  class=" btn btn-red my-1" ><i class="icon-close icon"></i>  <a href="/full-layout/full-pages/cancelHotelBooking"> الغاء حجز فندق</a>
          </button>
       
        </div>
  
      </div>
      <div class="card-content">
        <div class="card-body">
          <p-table  #dt [value]="hotels" dataKey="name" [rows]="10" [showCurrentPageReport]="true" [paginator]="true" [rowsPerPageOptions]="[5,10,15,20]"
          currentPageReportTemplate=" حجوزات الفنادق" [style]="{'width':'100%','overflow':'auto!important'}"
          [resizableColumns]="true" columnResizeMode="expand" styleClass="ui-table-customers" [autoLayout]="true"
          [responsive]="true" selectionMode="single"
          [filterDelay]="0" [globalFilterFields]="['number','destination','cancel','paymentMethod','totalNetSellingPrice','totalRemainingAmount' , 'totalRemainingAmount','guestName','phoneNumber','arrivalDate','departureDate','hotelName','roomType']">
          <p-column field="date" header="Data" sortable="custom" (sortFunction)="mysort($event)"></p-column>
          <ng-template pTemplate="caption">
            <div class="ui-table-globalfilter-container">
              <div class="form-group">
                <div class="input-group">

                  <input class="form-control" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="بحث" >
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>

              <!-- <th pSortableColumn="user_id"> التسلسل <p-sortIcon field="user_id"></p-sortIcon></th> -->
              <th pSortableColumn="number">رقم الفاتورة  <p-sortIcon field="number"></p-sortIcon></th>
              <th pSortableColumn=""> الفاتورة  <p-sortIcon field=""></p-sortIcon></th>
              <th>اسم المسافر</th>
              <!-- <th pSortableColumn="guestName">  اسم المسافر  <p-sortIcon field="guestName"></p-sortIcon></th> -->
              <th pSortableColumn="phoneNumber"> رقم الهاتف   <p-sortIcon field="phoneNumber"></p-sortIcon></th>
              <th pSortableColumn="hotelName">  اسم الفندق   <p-sortIcon field="hotelName"></p-sortIcon></th>
              <th>
                <div class="flex justify-content-center align-items-center">
                    Date
                    <p-columnFilter type="date" field="arrivalDate" display="menu"></p-columnFilter>
                </div>
            </th>
              <!-- <th pSortableColumn="arrivalDate"> تاريخ الوصول <p-sortIcon field="arrivalDate"></p-sortIcon></th> -->
              <th pSortableColumn="departureDate">تاريخ المغادرة <p-sortIcon field="departureDate"></p-sortIcon></th>
              <th pSortableColumn="adultNumber"> عدد البالغين <p-sortIcon field="adultNumber"></p-sortIcon></th>
              <th pSortableColumn="childNumber">  عدد الاطفال <p-sortIcon field="childNumber"></p-sortIcon></th>
              <th pSortableColumn="roomType">   نوع الغرفة <p-sortIcon field="roomType"></p-sortIcon></th>
              <th pSortableColumn="destination">الوجهة  <p-sortIcon field="destination"></p-sortIcon></th>
              <th pSortableColumn="paymentMethod">طريقة الدفع  <p-sortIcon field="paymentMethod"></p-sortIcon></th>
              <th pSortableColumn="totalNetSellingPrice">  السعر الكلي  <p-sortIcon field="totalNetSellingPrice"></p-sortIcon></th>
              <th pSortableColumn="totalReceivedAmount">المبلغ المدفوع <p-sortIcon field="totalReceivedAmount"></p-sortIcon></th>
               <th pSortableColumn="totalRemainingAmount">المبلغ المتبقي <p-sortIcon field="totalRemainingAmount"></p-sortIcon></th> 
              <th  >أصدار فاتورة</th> 
              <th pSortableColumn="cancel"> حالة الحجز  <p-sortIcon field="totalNetSellingPrice"></p-sortIcon></th>

          </tr>
         </ng-template>
          <ng-template pTemplate="body" let-hotelBooking>
            <tr>
            
              <td>{{hotelBooking?.number}}</td>
                <td ><a class="link" *ngIf="hotelBooking.createdInvoice === true"  href="/full-layout/full-pages/hotels/{{hotelBooking?._id}}">الفاتورة</a>
                <p  *ngIf="hotelBooking.createdInvoice === false">لم يتم اصدار فاتوره</p></td>
                <td> 
                  <ul *ngFor="let traveller of hotelBooking.travellers ; let i = index">
                    <li>   <p-columnFilter type="text" field="guestName" display="menu"></p-columnFilter></li>
                  </ul>
                </td>
                <td>
                  <ul *ngFor="let traveller of hotelBooking.travellers ; let i = index">
                    <li>{{traveller.phoneNumber}}</li>
                  </ul>
                </td>
                <td>{{hotelBooking?.hotelName.name}}</td> 
                <td>{{hotelBooking?.arrivalDate | date}</td>
                <td>{{hotelBooking?.departureDate | date}}</td>
                <td>{{hotelBooking?.adultNumber}}</td>
                <td>{{hotelBooking?.childNumber}}</td>
             
                <td>
                  <ul *ngFor="let traveller of hotelBooking.travellers ; let i = index">
                    <li>{{traveller.roomType}}</li>
                  </ul>
                </td>
                <td>{{hotelBooking?.destination}}</td>
                <td>{{hotelBooking?.paymentMethod}}</td>
                <td>{{hotelBooking?.totalNetSellingPrice}}</td>
                <td>{{hotelBooking?.totalReceivedAmount}}</td>
                <td>{{hotelBooking?.totalRemainingAmount}}</td>
                <td>               
                <div   *ngIf="hotelBooking.createdInvoice === false" (click)="getInvoice(hotelBooking)">
                  <i class="icon-printer icon printer"></i> 
                </div> 
                <div   *ngIf="hotelBooking.createdInvoice === true" >
                 تم اصدار فاتورة
                </div> 
                </td>
                <td>
                  <span class="badge badge-success  mr-1" *ngIf="hotelBooking?.cancel === false"> الحجز قائم</span>
                  <span class="badge badge-warning  mr-1" *ngIf="hotelBooking?.cancel === true"> تم الغاء الحجز</span>
                
                </td>
             </tr>
          </ng-template>
        </p-table>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" matchHeight="card" *ngIf="user.role.sidebarPermissions.hotels === false">
  <div class="col-xl-12 col-lg-12">
    <div class="card card-add" >
      <div class="card-header"  >
        <h4 class="card-title mb-0"> ليس لديك صلاحيات لحجوزات الفنادق </h4>
      </div>
   </div>
  </div>
</div>







