<div class="row" matchHeight="card" *ngIf="user.role.sidebarPermissions.hotels === true">
  <div class="col-xl-12 col-lg-12">
    <div class="card card-add" >
      <div class="card-header"  >
        <h4 class="card-title mb-0"> حجوزات الفنادق</h4>
      </div>
    </div>
   </div>
</div>
<div class="row" matchHeight="card" *ngIf="user.role.sidebarPermissions.hotels === true">

  <div class="col-xl-12 col-lg-12">
    <div class="card">
      <div class="header">
        <div>
          <button (click)="exportCSV()" class=" btn btn-default csv left" >
            CSV  <i class="icon-share-alt icon"></i>  
          </button>
          <!-- <button type="button" class="btn btn-primary btn-raised my-1" printTitle="الفيز " [useExistingCss]="true" printSectionId="print-section" ngxPrint><i class="icon icon-printer"></i> طباعة</button> -->
          <button  class=" btn btn-green my-1" > <i class="icon-plus icon"></i><a href="/full-layout/full-pages/bookingHotel">  اضافة حجز جديد</a>
          </button>
          <button  class=" btn btn-red my-1" ><i class="icon-close icon"></i>  <a href="/full-layout/full-pages/cancelHotelBooking"> الغاء حجز فندق</a>
          </button>
       
        </div>
  
      </div>
      <div class="card-content" id="print-section" >
        <div class="card-body">
          <p-table [columns]="cols" #dt [value]="hotels" [autoLayout]="true" [paginator]="true" [rows]="10" (onSort)="onSort($event)">
            <ng-template pTemplate="caption">
              <div class="ui-table-globalfilter-container">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" pInputText  (input)="myFilter($event)" class="filter form-control" placeholder="البحث">
                  </div>
                 </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="row-header" *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon class="" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon>
                    </th>
    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-hotelBooking let-columns="columns">
            <tr>
            
              <td>{{hotelBooking?.number}}</td>
                <td ><a class="link" *ngIf="hotelBooking.createdInvoice === true"  href="/full-layout/full-pages/hotels/{{hotelBooking?._id}}">الفاتورة</a>
                <p  *ngIf="hotelBooking.createdInvoice === false">لم يتم اصدار فاتوره</p></td>
                <td>
                  {{hotelBooking.travellers[0].guestName}}
                  <!-- <ul *ngFor="let traveller of hotelBooking.travellers ; let i = index">
                    <li>{{traveller.guestName}}</li>
                  </ul> -->
                </td>
                <td>{{hotelBooking.travellers[0].phoneNumber}}</td>
                <td>{{hotelBooking?.hotelName.name}}</td> 
                <td>{{hotelBooking?.arrivalDate | date}}</td>
                <td>{{hotelBooking?.departureDate | date}}</td>
                <td>{{hotelBooking?.adultNumber}}</td>
                <td>{{hotelBooking?.childNumber}}</td>
             
                <td>
                  {{hotelBooking.travellers[0].roomType}}
                  <!-- <ul *ngFor="let traveller of hotelBooking.travellers ; let i = index">
                    <li>{{traveller.roomType}}</li>
                  </ul> -->
                </td>
                <td>{{hotelBooking?.destination}}</td>
                <td>{{hotelBooking?.paymentMethod}}</td>
                <td>{{hotelBooking?.totalNetSellingPrice}}</td>
                <td>{{hotelBooking?.totalReceivedAmount}}</td>
                <td>{{hotelBooking?.totalRemainingAmount}}</td>
                <td>               
                <div   *ngIf="hotelBooking.createdInvoice === false" (click)="getInvoice(hotelBooking)">
                  <i class="icon-printer icon printer"></i> 
                </div> 
                <div   *ngIf="hotelBooking.createdInvoice === true" >
                 تم اصدار فاتورة
                </div> 
                </td>
                <td>
                  <span class="badge badge-success  mr-1" *ngIf="hotelBooking?.cancel === false"> الحجز قائم</span>
                  <span class="badge badge-warning  mr-1" *ngIf="hotelBooking?.cancel === true"> تم الغاء الحجز</span>
                
                </td>
             </tr>
          </ng-template>
        </p-table>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" matchHeight="card" *ngIf="user.role.sidebarPermissions.hotels === false">
  <div class="col-xl-12 col-lg-12">
    <div class="card card-add" >
      <div class="card-header"  >
        <h4 class="card-title mb-0"> ليس لديك صلاحيات لحجوزات الفنادق </h4>
      </div>
   </div>
  </div>
</div>







