<div  matchHeight="card"  *ngIf="user.role.sidebarPermissions.reports === true">
  <div class="col-md-12 col-lg-12">
    <div class="card card-add" >
      <div class="card-header"  >
        <h4 class="card-title mb-0"> الموازنة المالية </h4>
      </div>
    </div>
  </div>
</div>
   <!--Tabset Starts-->
    <div class="col-md-12 col-lg-12" *ngIf="user.role.sidebarPermissions.reports === true">
      <div class="card">
        <div class="header">
          <button type="button" class="btn btn-primary btn-raised my-1" printTitle="الموازنة المالية " [useExistingCss]="true" printSectionId="print-section" ngxPrint><i class="icon icon-printer"></i> طباعة</button>
      </div>
        <div class="card-header">
        </div>
        <div class="card-content">
          
          <div class="card-body" id="print-section">
            <table class="table" >
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">الحركة</th>
                  <th scope="col">المبلغ</th>
                  <th scope="col">التفاصيل</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>مصاريف الجروبات السياحية</td>
                  <td> 
                     <p *ngIf="totalTourCost > 0">- {{totalTourCost}}</p>
                     <p *ngIf="!totalTourCost">0</p>
                  </td>
                  <td><a href="/full-layout/full-pages/groupsReport">  <i class=" icon-eye edit"></i></a></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td> الوارد من الجروبات السياحية</td>
                  <td>
                    <p *ngIf="totalCredit > 0"> {{totalCredit}}</p>
                    <p *ngIf="!totalCredit">0</p>
                  </td>
                  <td><a href="/full-layout/full-pages/groupsReport">  <i class=" icon-eye edit"></i></a></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>صافي ديون المسافرين  من الجروبات السياحية</td>
                  <td>
                    <p *ngIf="totalDebit > 0"> {{totalDebit}}</p>
                    <p *ngIf="!totalDebit">0</p>
                  </td>
                  <td><a href="/full-layout/full-pages/groupsReport">  <i class=" icon-eye edit"></i></a></td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>الوارد من تذاكر الطيران</td>
                  <td> 
                     <p *ngIf="totalCreditFlightTickets > 0"> {{totalCreditFlightTickets}}</p>
                     <p *ngIf="!totalCreditFlightTickets">0</p>
                  </td>
                  <td><a href="/full-layout/full-pages/flightTicketsList">  <i class=" icon-eye edit"></i></a></td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>  صافي ديون المسافرين من حجوزات تذاكر الطيران</td>
                  <td>
                    <p *ngIf="totalDebitFlightTickets > 0"> {{totalDebitFlightTickets}}</p>
                    <p *ngIf="!totalDebitFlightTickets">0</p>
                  </td>
                  <td><a href="/full-layout/full-pages/flightTicketsList">  <i class=" icon-eye edit"></i></a></td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>صافي عمولات تذاكر الطيران</td>
                  <td>
                    <p *ngIf="totalCreditCommFlightTickets > 0"> {{totalCreditCommFlightTickets - totalCreditRefundCommFlightTickets}}</p>
                    <p *ngIf="!totalCreditCommFlightTickets">0</p>
                  </td>
                  <td><a href="/full-layout/full-pages/groupsReport">  <i class=" icon-eye edit"></i></a></td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td> الوارد من التأشيرات</td>
                  <td>
                    <p *ngIf="totalCreditVisa > 0"> {{totalCreditVisa}}</p>
                    <p *ngIf="!totalCreditVisa">0</p>
                  </td>
                  <td><a href="/full-layout/full-pages/visaList">  <i class=" icon-eye edit"></i></a></td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td>صافي ديون المسافرين من حجوزات  التأشيرات</td>
                  <td>
                    <p *ngIf="totalDebitVisa > 0"> {{totalDebitVisa}}</p>
                    <p *ngIf="!totalDebitVisa">0</p>
                  </td>
                  <td><a href="/full-layout/full-pages/visaList">  <i class=" icon-eye edit"></i></a></td>
                </tr>
                <tr>
                  <th scope="row">9</th>
                  <td>صافي عمولات التأشيرات</td>
                  <td>
                    <p *ngIf="totalCreditCommVisa > 0"> {{totalCreditCommVisa - totalCreditRefundCommVisa}}</p>
                    <p *ngIf="!totalCreditCommVisa">0</p>
                  </td>
                  <td><a href="/full-layout/full-pages/visaList">  <i class=" icon-eye edit"></i></a></td>
                </tr>
                <tr>
                <th scope="row">10</th>
                <td>سندات الصرف</td>
                <td>
                  <p *ngIf="totalExchangeDebit > 0"> -{{totalExchangeDebit}}</p>
                  <p *ngIf="!totalExchangeDebit">0</p>
                </td>
                <td><a href="/full-layout/full-pages/bonds">  <i class=" icon-eye edit"></i></a></td>
              </tr>
              <tr>
              <th scope="row">11</th>
              <td> سندات القبض</td>
              <td>
                <p *ngIf="totalReceiptCredit > 0"> {{totalReceiptCredit}}</p>
                <p *ngIf="!totalReceiptCredit">0</p>
              </td>
              <td><a href="/full-layout/full-pages/bonds">  <i class=" icon-eye edit"></i></a></td>
            </tr>
            <tr>
              <th scope="row">12</th>
              <td>الوادر من الفنادق </td>
              <td>
                <p *ngIf="totalHotelCredit > 0"> {{totalHotelCredit}}</p>
                <p *ngIf="!totalHotelCredit">0</p>
              </td>
              <td><a href="/full-layout/full-pages/bookingHotels">  <i class=" icon-eye edit"></i></a></td>
            </tr>
            <tr>
            <th scope="row">13</th>
            <td> صافي عمولات حجز الفنادق </td>
            <td>
              <p *ngIf="totalCommHotelCredit > 0"> {{totalCommHotelCredit - totalRefundCommHotelDebit}}</p>
              <p *ngIf="!totalCommHotelCredit">0</p>
            </td>
            <td><a href="/full-layout/full-pages/bookingHotels">  <i class=" icon-eye edit"></i></a></td>
          </tr>
          <tr>
            <th scope="row">14</th>
            <td> صافي رصيد مدخلات الخزنة </td>
            <td>
              <p *ngIf="totalSafeboxCredit > 0"> {{totalSafeboxCredit - totalSafeboxDebit}}</p>
              <p *ngIf="!totalSafeboxCredit">0</p>
            </td>
            <td><a href="/full-layout/full-pages/safeBox">  <i class=" icon-eye edit"></i></a></td>
          </tr>
          <tr>
            <th scope="row">15</th>
            <td> صافي مدخلات أرصدة الموردين </td>
            <td>
              <p *ngIf="totalCompanyCredit  > 0 || totalCompanyDebit>0"> {{totalCompanyDebit - totalCompanyCredit}}</p>
              <p *ngIf="!totalCompanyCredit && !totalCompanyDebit">0</p>
            </td>
            <td><a href="/full-layout/full-pages/accountsBalanceComponent">  <i class=" icon-eye edit"></i></a></td>
          </tr>
              </tbody>
            </table>
          </div>
        </div>      
      </div>
    </div>
    <!--Tabset Ends-->   
    <!-- <div class="row" matchHeight="card" *ngIf="user.role.sidebarPermissions.reports === false">
      <div class="col-xl-12 col-lg-12">
        <div class="card card-add" >
          <div class="card-header"  >
            <h4 class="card-title mb-0"> ليس لديك صلاحيات للتقارير</h4>
          </div>
       </div>
      </div>
    </div> -->
    
