
.btn-raised{
    background-color: #312662 !important;
}

.toolbar{
    margin-top: 2%;
}

.icon{
    color: #fcfcfc;
}
span{
    font-size: 15px;
    font-weight: 700 !important;
 }
 .card .header {
    padding: 1.5rem;
    padding-bottom: 0px;
    background-color: transparent;
}
.card .card-header {
    padding-bottom: 20px;
}