<div class="row" matchHeight="card" *ngIf="user.role.sidebarPermissions.tours === true">
  <div class="col-xl-12 col-lg-12">
    <div class="card card-add" >
      <div class="card-header"  >
        <h4 class="card-title mb-0"> حجوزات الرحلات السياحية</h4>
      </div>
    </div>
  </div>
</div>
<section id="ngx" *ngIf="user.role.sidebarPermissions.tours === true">
<div class="card">
    <div class="card-content">
        <div class="card-body">
            <p class="mb-0">
            </p>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <button (click)="exportCSV()" class=" btn btn-default csv " >
            CSV    <i class="icon-share-alt icon"></i> 
            </button>
            <button (click)="createNewBooking()" class=" btn btn-green" >
              <i class="icon-plus icon"></i>  اضافة حجز لبرنامج سياحي 
            </button>
            <button type="button" class="btn btn-primary btn-raised " printTitle="الحجوزات" [useExistingCss]="true" printSectionId="print-section" ngxPrint><i class="icon icon-printer"></i> طباعة</button> 
           
        <p-table  id="print-section" #dt [value]="bookings" dataKey="name" [rows]="10" [showCurrentPageReport]="true" [paginator]="true" [rowsPerPageOptions]="[5,10,15,20]"
        currentPageReportTemplate="" [style]="{'width':'100%','overflow':'auto!important'}"
        [resizableColumns]="true" columnResizeMode="expand" styleClass="ui-table-customers" [autoLayout]="true"
        [responsive]="true" selectionMode="single"
        [filterDelay]="0" [globalFilterFields]="['tourName.name','contactInfo.fullName','createdAt ','number','totalPrice' , 'price', 'child', 'adult', 'infant' ,'maxGroupSize', 'priceDiscount']">
        <ng-template pTemplate="caption">
          <div class="ui-table-globalfilter-container">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="بحث" >
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id">رقم القيد <p-sortIcon field="id"></p-sortIcon></th>
              <th pSortableColumn="id">رقم الحجز <p-sortIcon field="id"></p-sortIcon></th>
              <th pSortableColumn="type">الفاتورة <p-sortIcon field="type"></p-sortIcon></th>
              <th pSortableColumn="type">اسم الرحلة <p-sortIcon field="type"></p-sortIcon></th>
              <th pSortableColumn="type">تاريخ الرحلة <p-sortIcon field="type"></p-sortIcon></th>
              <th pSortableColumn="duration">صاحب الحجز <p-sortIcon field="duration"></p-sortIcon></th>
              <th pSortableColumn="createdAt">تاريخ الحجز <p-sortIcon field="createdAt"></p-sortIcon></th>
              <th pSortableColumn="adult">عدد البالغين <p-sortIcon field="adult"></p-sortIcon></th>
              <th pSortableColumn="child">عدد الأطفال<p-sortIcon field="child"></p-sortIcon></th>
              <th pSortableColumn="infant">عدد الرضع <p-sortIcon field="infant"></p-sortIcon></th>
              <th pSortableColumn="price"> السعر الكلي <p-sortIcon field="price"></p-sortIcon></th>
              <th pSortableColumn="maxGroupSize"> حالة الطلب <p-sortIcon field="maxGroupSize"></p-sortIcon></th>
              <!-- <th pSortableColumn="active">التفعيل <p-sortIcon field="active"></p-sortIcon></th> -->
              <th >التعديل</th> 
              <th >الحذف</th> 
              <th >تفاصيل الحجز</th> 
              <th >طباعة فاتورة</th> 
          </tr>
       </ng-template>
        <ng-template pTemplate="body" let-booking  let-rowIndex="rowIndex">
          <tr>
              <td>{{rowIndex}}</td>
              <td>{{booking?.number}}</td>
              <td ><a  class="reset" *ngIf="booking.createdInvoice === true"  href="/full-layout/full-pages/invoice/{{booking?._id}}">الفاتورة</a>
                <p  *ngIf="booking.createdInvoice === false">لم يتم اصدار فاتورة</p></td>
              <td>{{booking?.tourName.name}}</td>
              <td>{{booking?.tourInfo.tourDate | date}}</td>
              <td>{{booking?.contactInfo.fullName}}</td>
              <td>{{booking?.createdAt | date}}</td>
              <td>{{booking?.tourInfo.adult}}</td>
              <td>{{booking?.tourInfo.child}}</td>
              <td>{{booking?.tourInfo.infant}}</td>
              <td>{{booking?.paymentInfo.totalPrice}} </td>
              <td>
                <span class="badge badge-success  mr-1" *ngIf="booking?.paymentInfo.orderStatus === 'تأكيد حجز المبلغ كامل'"> {{booking?.paymentInfo.orderStatus}}</span>
                <span class="badge badge-warning  mr-1" *ngIf="booking?.paymentInfo.orderStatus === 'حجز بدون دفع'"> {{booking?.paymentInfo.orderStatus}}</span>
                <span class="badge badge-primary  mr-1" *ngIf="booking?.paymentInfo.orderStatus === 'حجز جزء من المبلغ'"> {{booking?.paymentInfo.orderStatus}}</span>
                <span class="badge badge-danger  mr-1" *ngIf="booking?.paymentInfo.orderStatus === 'الغاء الحجز'"> {{booking?.paymentInfo.orderStatus}}</span>
               </td>
              <td>
                <div class="fonticon-wrap" (click)="editBooking(booking)" >
                  <i class="icon-pencil edit"></i>
                </div> 
              </td>
              <td>
                <div class="fonticon-wrap" (click)="deleteBooking(booking)" >
                  <i class="icon-trash red"></i>
                </div> 
              </td>
              <td>
              <div class="fonticon-wrap" (click)="detailsBooking(booking)"  >
                  <i class=" icon-eye edit"></i>
                </div> 
            </td>
         
            <td>
              <div *ngIf="booking.createdInvoice === true" >
                تم اصدار فاتورة
               </div> 
              <div   *ngIf="booking.createdInvoice === false" class="fonticon-wrap" (click)="printReaet(booking)"  >
                  <i class="icon-printer edit"></i>
                </div> 
            </td>
        
           </tr>
        </ng-template>
      </p-table>
     </div>
   </div>
  <!-- Edit booking Dialog-->
    <p-dialog [(visible)]="editBookingDialog" [style]="{width: '650px'}" header="تعديل الحجز" [modal]="true" styleClass="p-fluid" styleClass="p-fluid"  [dismissableMask]="false" 
    [modal]="true" (onHide)="close()"
    [appendTo]="'body'">    

                    <div class="row">
                      <div class="col-md-12"> 
                           <!--end edit payment info-->
                           <div class="container-box" >
                           <form [formGroup]="paymentForm"  novalidate>
                            <div formGroupName="paymentInfo"> 
                               <div class="row">
                                   <div class="form-group col-md-6   col-sm-12 ">
                                     <label class="label-control" for="userinput6"> طريقة الدفع</label><span class="red">*</span>
                                     <select  class="form-control" data-size="7"  (change)="onPaymentChange($event.target.value)" formControlName="paymentWay"> title="المستخدم" >
                                       <option *ngFor="let payment of paymentWays"  [value]="payment.name">{{payment.name}}</option>
                                   </select>
                                   </div>
                                                         
                                   <div class="form-group col-md-6   col-sm-12 ">
                                     <label for="street">السعر الكلي</label><span class="red">*</span>
                                     <input type="number" readOnly value={{totalPrice}} formControlName="totalPrice" class="form-control">
                                 </div>
                                 <div class="form-group col-md-6   col-sm-12 ">
                                  <label for="street">المبلغ المتبقي</label><span class="red">*</span>
                                  <input type="number"  value={{totalPrice}} formControlName="remainingAmount" class="form-control">
                                </div>
                                    <div class="form-group col-md-6   col-sm-12 ">
                                      <label for="street">المبلغ المدفوع</label><span class="red">*</span>
                                      <input type="number"  value={{totalPrice}} formControlName="receivedAmount" class="form-control">
                                  </div>
                                 <div class="form-group col-md-12   col-sm-12 ">
                                   <label class="label-control" for="userinput6"> حالة الطلب</label><span class="red">*</span>
                                   <ng-select [items]="bookingStatus"  bindLabel="name" bindValue="name" [multiple]="false"  formControlName="orderStatus">
                                   </ng-select>
                                 </div>
                                </div>
                              </div> 
                           <div class="buttons margin-top-10">
                              <input type="submit"  (click)="editPaymentInfoButton(paymentForm)" class=" btn btn-primary submit " value="حفظ التعديلات">
                           </div>
                         </form>
                         </div>
                            <!--end edit payment info-->
                        </div>  
                      </div>    
      </p-dialog> 
    <!-- End booking Dialog -->

    <!-- tour details Dialog-->
  <!-- Start order details Dialog-->

  <p-dialog  [(visible)]="detailsBookingDialog" [style]="{width: '550px'}" header=" معلومات الرحلة"  styleClass="p-fluid"  [dismissableMask]="false" 
   [modal]="true"
   [appendTo]="'body'">
 
      <div class="row">
        <div class="col-sm-12 col-md-12" >
          <br/>
          <div class="card">
            <div class="card-body">
              <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                          <div class="card-content">
                           
                            <div class="card-body">
                              <h4 class="card-title"> رقم الحجز :</h4>
                              <p class="card-text">{{booking?.number}}</p>
                              <hr/>

                              <div class=" row">
                                <div class=" col-md-12">
                                  <h4 class="card-title"> المسافرين :</h4>
                                  <div>
                                    <div class="card-content">
                                      <div class="card-body">
                                        <ul class="list-group"  *ngFor="let traveller of booking?.travellerInfo">
                                          <li class="list-group-item">
                                            <span class="badge badge-default mr-2" style="font-size: 15px;"><i class="icon-user danger "></i> الاسم : </span> {{traveller?.firstName }}
                                             {{traveller?.lastName }}
                                          </li>
                                          <li class="list-group-item">
                                            <span class="badge badge-default mr-2"  style="font-size: 15px;"><i class="icon-calendar danger "></i> السن :</span>{{traveller?.age }}
                                          </li>
                                          <li class="list-group-item">
                                            <span class="badge badge-default mr-2"  style="font-size: 15px;"><i class="icon-plane danger "></i> جواز السفر : </span>{{traveller?.passportNo }}
                                          </li>
                                          
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div> 
                             
                              <div class="details row">
                                <h4 class="card-title"> معلومات التواصل :</h4>
                                <div class="row text-left" matchHeight="card">
                                  <div class="col-xl-12 col-lg-12 col-12">
                                    <div class="card">
                                      <div class="card-content">
                                        <div class="px-3 py-3">
                                          <div class="media">
                                            <div class="media-body">
                                              <h3 class="mb-1 danger">الاسم بالكامل</h3>
                                              <span class="black">{{booking?.contactInfo.fullName}}</span>
                                            </div>
                                            
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-xl-12 col-lg-12 col-12">
                                    <div class="card">
                                      <div class="card-content">
                                        <div class="px-3 py-3">
                                          <div class="media">
                                            <div class="media-body">
                                              <h3 class="mb-1 danger ">البريد الالكتروني </h3>
                                              <span >{{booking?.contactInfo.email}}</span>
                                            </div>
                                            
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                              
                                  <div class="col-xl-12 col-lg-12 col-12">
                                    <div class="card">
                                      <div class="card-content">
                                        <div class="px-3 py-3">
                                          <div class="media">
                                            <div class="media-body">
                                              <h3 class="mb-1 danger ">رقم الهاتف</h3>
                                              <span>{{booking?.contactInfo.phone}}</span>
                                            </div>
                                            
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-xl-12 col-lg-12 col-12" *ngIf="booking?.contactInfo.address">
                                    <div class="card">
                                      <div class="card-content">
                                        <div class="px-3 py-3">
                                          <div class="media">
                                            <div class="media-body">
                                              <h3 class="mb-1 danger"> العنوان</h3>
                                              <span>{{booking?.contactInfo.address}}</span>
                                            </div>
                                            
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                               
                              <div class="details row">
                                <h4 class="card-title">معلومات الرحلة :</h4>
                                <div class="row text-left" matchHeight="card">
                                  <div class="col-xl-12 col-lg-12 col-12">
                                    <div class="card">
                                      <div class="card-content">
                                        <div class="px-3 py-3">
                                          <div class="media">
                                            <div class="media-body">
                                              <h3 class="mb-1 danger ">اسم الرحلة </h3>
                                              <span >{{booking?.tourName.name}}</span>
                                            </div>
                                            
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-xl-12 col-lg-12 col-12">
                                    <div class="card">
                                      <div class="card-content">
                                        <div class="px-3 py-3">
                                          <div class="media">
                                            <div class="media-body">
                                              <h3 class="mb-1 danger ">تاريخ الرحلة </h3>
                                              <span >{{booking?.tourInfo.tourDate | date}}</span>
                                            </div>
                                            
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                              
                                  <div class="col-xl-12 col-lg-12 col-12">
                                    <div class="card">
                                      <div class="card-content">
                                        <div class="px-3 py-3">
                                          <div class="media">
                                            <div class="media-body">
                                              <h3 class="mb-1 danger ">عدد البالغين</h3>
                                              <span>{{booking?.tourInfo.adult}}</span>
                                            </div>
                                            
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                 
                                  <div class="col-xl-12 col-lg-12 col-12" *ngIf="booking?.tourInfo.child">
                                    <div class="card">
                                      <div class="card-content">
                                        <div class="px-3 py-3">
                                          <div class="media">
                                            <div class="media-body">
                                              <h3 class="mb-1 danger"> عدد الاطفال</h3>
                                              <span>{{booking?.tourInfo.child}}</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-xl-12 col-lg-12 col-12">
                                    <div class="card">
                                      <div class="card-content">
                                        <div class="px-3 py-3">
                                          <div class="media">
                                            <div class="media-body">
                                              <h3 class="mb-1 danger ">عدد الرضع</h3>
                                              <span>{{booking?.tourInfo.infant}}</span>
                                            </div>
                                            
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                             
                              <div class="details row">
                                <h4 class="card-title">معلومات الدفع :</h4>
                                <div class="row text-left" matchHeight="card">
                                  <div class="col-xl-12 col-lg-12 col-12">
                                    <div class="card">
                                      <div class="card-content">
                                        <div class="px-3 py-3">
                                          <div class="media">
                                            <div class="media-body">
                                              <h3 class="mb-1 danger"> طريقة الدفع</h3>
                                              <span class="black">{{booking?.paymentInfo.paymentWay}}</span>
                                            </div>
                                            
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            
                                  <div class="col-xl-12 col-lg-12 col-12">
                                    <div class="card">
                                      <div class="card-content">
                                        <div class="px-3 py-3">
                                          <div class="media">
                                            <div class="media-body">
                                              <h3 class="mb-1 danger "> السعر الكلي</h3>
                                              <span>{{booking?.paymentInfo.totalPrice}}</span>
                                            </div>
                                            
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-xl-12 col-lg-12 col-12">
                                    <div class="card">
                                      <div class="card-content">
                                        <div class="px-3 py-3">
                                          <div class="media">
                                            <div class="media-body">
                                              <h3 class="mb-1 danger ">المبلغ المدفوع</h3>
                                              <span>{{booking?.paymentInfo.receivedAmount}}</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-xl-12 col-lg-12 col-12">
                                    <div class="card">
                                      <div class="card-content">
                                        <div class="px-3 py-3">
                                          <div class="media">
                                            <div class="media-body">
                                              <h3 class="mb-1 danger ">  المبلغ المتبقي</h3>
                                              <span>{{booking?.paymentInfo.remainingAmount}}</span>
                                            </div>
                                            
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-xl-12 col-lg-12 col-12">
                                    <div class="card">
                                      <div class="card-content">
                                        <div class="px-3 py-3">
                                          <div class="media">
                                            <div class="media-body">
                                              <h3 class="mb-1 danger"> حالة الدفع</h3>
                                              <span>{{booking?.paymentInfo.orderStatus}}</span>
                                            </div>
                                            
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             </div>
        </p-dialog>  
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<div class="row" matchHeight="card" *ngIf="user.role.sidebarPermissions.tours === false">
  <div class="col-xl-12 col-lg-12">
    <div class="card card-add" >
      <div class="card-header"  >
        <h4 class="card-title mb-0"> ليس لديك صلاحيات لحجوزات الرحلات </h4>
      </div>
   </div>
  </div>
</div>
