.margin-top-10{
    margin-top: 10px;
}
span{
    color:#ffffff !important;
}
.submit{
    color:#ffffff !important;
    margin-right: 10px !important;

}
.icon {
    font-size: 20px;
    color: #0372c7;
}
.left{
    float:left;
}
.btn{
    color: #0372c7;
}
.control-label{
    float:right;
}

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .ui-table .ui-table-tbody > tr > td {
    background-color: inherit;
    font-size: medium;
    border: 1px solid #c8c8c8;
}
.icon{
  color: #fcfcfc;
  padding-left: 20px;
}
.btn-green{
  background-color: #028a8d;
  color:white !important;
  margin-right: 10px;
  margin-left: 10px;
}
.btn-default{
  margin-top: 1%;
  margin-left: 10px;
}
.btn-raised{
  background-color: #312662 !important;
  margin-left: 10px;
}
.csv{
  background-color: #e02365 !important;
  color: white !important;
}
.icon{
  color: #fcfcfc;
}
.red{
  color:red;
}
.pink{
 color: #e02365 !important;
}

.blue{
  color: blue !important;
}
.orange{
   color:orangered;
}
span{
  font-size: 15px;
  font-weight: 700 !important;
}
.blue-2{
   color:#312662
}
.blue-3{
  color:#22819e
}
a {
  color:white
}
.card .header {
  padding: 1.5rem;
  padding-bottom: 0px;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}
.card .card-header {
  padding-bottom: 20px;
}
form .form-control {
  text-align: right;
}

