
.btn-primary {
    color: white !important;

}
button, input {
    text-align: right;
}
.checkbox{
    margin-right: 10%;
}
form label {
    color: #212529;
}
.blueTiltle {
    color: blue;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Almarai', sans-serif !important;
   cursor: pointer;
}
.buttons{
    margin-top:40px;
    margin-left: 40px;
}