
.btn-primary {
    color: white !important;

}
button, input {
    text-align: right;
}
.checkbox{
    margin-right: 10%;
}
form label {
    color: #212529;
}
.blueTiltle {
    color: blue;
    font-weight: 300;
    font-family: 'Open Sans';
   cursor: pointer;
}