<div class="row" matchHeight="card" *ngIf="user.role.dashboardPermissions.bookHotel === true">
  <div class="col-xl-12 col-lg-12">
    <div class="card card-add" >
      <div class="card-header"  >
        <h4 class="card-title mb-0">  الغاء حجز فندقي</h4>
      </div>
    </div>
  </div>
</div>
<div class="row" matchHeight="card" *ngIf="user.role.dashboardPermissions.bookHotel === true">
  <div class="col-xl-12 col-lg-12">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-content completed-tours">
        <div class="card-body add-items">

      <!-- Cancel Visa-->
      <form   [formGroup]="hotelForm"  novalidate>
          <div class="row">
            <div class=" borderSection form-inline"> 
              <div class="input-group col-sm-12 col-md-4 ">
                <div class="input-group-prepend">
                  <span class="input-group-text">رقم الحجز</span>
                </div>
                <select (change)='onHotelNumberSelected($event)' class="form-control" data-size="7" formControlName="companyAccount"  >
                  <option *ngFor="let book of hotelsBooking"   [ngValue]="book.number">{{book.number}}</option>
              </select><span class="red">*</span>
              </div>
                <div class="input-group  col-sm-12 col-md-4 ">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> الحجز من</span>
                  </div>
                      <input type="text"  formControlName="bookingFrom" class="form-control ">
                </div>
                <div class="input-group col-sm-12 col-md-4 ">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> الحجز الي</span>
                  </div>
                        <input type="text"  formControlName="bookingTo" class="form-control ">
                </div>
                <div class="input-group col-sm-12 col-md-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> اسم الفندق </span>
                  </div>
                  <input  class="text" type="text" formControlName="hotelName" class="form-control"><span class="red">*</span>
                </div>
                <div class="input-group col-sm-12 col-md-4 payment">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> طريقة الدفع </span>
                  </div>
                  <input  class="text" type="text" formControlName="paymentMethod" class="form-control"><span class="red">*</span>
                </div>
              <div class="input-group col-sm-12 col-md-4 payment">
                <div class="input-group-prepend">
                  <span class="input-group-text"> تاريخ الوصول </span>
                </div>
                <input  class="date" type="text" formControlName="arrivalDate" class="form-control"><span class="red">*</span>
            </div>
              <div class="input-group col-sm-12 col-md-4 payment">
                <div class="input-group-prepend">
                  <span class="input-group-text"> تاريخ المغادرة </span>
                </div>
                <input  class="date" type="text" formControlName="departureDate" class="form-control"><span class="red">*</span>
            </div>
              <div class="input-group col-sm-12 col-md-4 payment">
                <div class="input-group-prepend">
                  <span class="input-group-text">  الوجهة</span>
                </div>
                <input  class="checkbox" type="text" formControlName="destination" class="form-control">
              </div>
              <div class="input-group col-sm-12 col-md-4 payment">
                <div class="input-group-prepend">
                  <span class="input-group-text"> الملاحظات </span>
                </div>
                <input  class="" type="text" formControlName="notes" class="form-control"><span class="red">*</span>
              </div>
            </div>
           </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12" >
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0"> الحجوزات</h4>
      </div>
    
      <div class="card-content">
        <div class="card-body">
          <p-table  #dt [value]="hotelsArray" dataKey="number" [rows]="10" [showCurrentPageReport]="true" [paginator]="true" [rowsPerPageOptions]="[5,10,15,20]"
          [style]="{'width':'100%','overflow':'auto!important'}"
          [resizableColumns]="true" columnResizeMode="expand" styleClass="ui-table-customers" [autoLayout]="true"
          [responsive]="true" selectionMode="single"
          [filterDelay]="0" [globalFilterFields]="['guestName','roomType','receivedAmount','netCost','comm' ,'phoneNumber','receivedAmount','remainingAmount' ]">
          <ng-template pTemplate="caption">
            <div class="ui-table-globalfilter-container">
              <div class="input-group">
                <div class="input-group">
                  <input class="form-control" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="بحث" >
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
                <th>القيد</th>
                <th pSortableColumn="guestName"> اسم المسافر <p-sortIcon field="guestName"></p-sortIcon></th>
                <th pSortableColumn="phoneNumber"> رقم الهاتف  <p-sortIcon field="phoneNumber"></p-sortIcon></th>
                <th pSortableColumn="netCost"> مبلغ التسديد <p-sortIcon field="netCost"></p-sortIcon></th>
                <th pSortableColumn="receivedAmount">    المبلغ المدفوع    <p-sortIcon field="receivedAmount"></p-sortIcon></th>
                <th pSortableColumn="remainingAmount">    المبلغ المتبقي    <p-sortIcon field="remainingAmount"></p-sortIcon></th>
                <th pSortableColumn="comm"> العمولة<p-sortIcon field="comm"></p-sortIcon></th>
            </tr>
         </ng-template>
          <ng-template pTemplate="body" let-hotel let-rowIndex="rowIndex">
            <tr>
                <td>{{rowIndex}}</td>
                <td>{{hotel?.guestName}}</td>   
                <td>{{hotel?.phoneNumber}}</td> 
                <td>{{hotel?.netCost}}</td> 
                <td>{{hotel?.receivedAmount}}</td>  
                <td>{{hotel?.remainingAmount}}</td> 
                <td>{{hotel?.comm}}</td>          
          </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

</div>
</div>
<div class="row" matchHeight="card" class="refund" *ngIf="user.role.dashboardPermissions.bookVisa === true">
  <div class="col-xl-12 col-lg-12">
    <div class="card cancelSection" >
      <div class="card-header"  >
        <h4 class="card-title mb-0"> خيارات استرجاع الحجز (نقدا و أجل )</h4>
        </div>
      <div class="row">
        <div class="col-sm-12  col-md-6 form-inline">
          <div class="input-group payment">
            <input type="radio" [(ngModel)]="cancelType"  name="ticketCancel" value="withComm" (change)="checkCheckBoxvalue($event)">
            <label for="vehicle1" class="form-control label">  إرجاع عمولة الفندق كاملة للنزيل </label>
          </div>
          <div class="input-group payment">
            <input type="radio" [(ngModel)]="cancelType"   name="ticketCancel" value="noComm" (change)="checkCheckBoxvalue($event)">
            <label for="vehicle2" class="form-control label">عدم إرجاع عمولة الفندق للنزيل افر وعدم فرض غرامة</label>
          </div>
          </div>
          <div class="col-sm-12  col-md-6 form-inline">
          <div class="input-group payment">
            <input type="radio" [(ngModel)]="cancelType"       name="ticketCancel" value="fineWithComm" (change)="checkCheckBoxvalue($event)">
            <label for="vehicle1" class="form-control label"> فرض غرامة مع إرجاع عمولة كاملة للنزيل</label>
          </div>
          <div class="input-group payment">
            <input type="radio" [(ngModel)]="cancelType"  id="cansel" name="ticketCancel" value="fineNoComm" (change)="checkCheckBoxvalue($event)">
          <label for="vehicle2" class="form-control label"> فرض غرامة مع عدم إرجاع عمولة النزيل</label>
          </div>
        </div>
      </div>    
    </div>
  </div>
</div>

<div class="row" matchHeight="card" *ngIf="user.role.dashboardPermissions.bookHotel === true">
  <div class="col-xl-12 col-lg-12">
    <div class="card">
      <div class="row">

      <form   [formGroup]="hotelForm"  novalidate>
      <div class="col-sm-12 form-inline">
        <div class="input-group col-sm-12 col-md-6 payment">
            <label for="street">المبلغ المسترجع من الشركة (الحجز من )</label> 
            <input  class="date" type="text" formControlName="totalRefundNetCostPrice" class="form-control ">
        </div>
        <div class="input-group col-sm-12 col-md-6 payment">
          <label for="street">العمولة المسترجعة</label> 
          <input  class="date" type="text" formControlName="totalRefundNetComm" class="form-control ">
      </div>
        <div class="input-group col-sm-12 col-md-6 payment">
            <label for="street">المبلغ المسترجع من الشركة او الزبون (الحجز الي )</label> 
            <input  class="date" type="text" formControlName="totalRefundNetSellingPrice" class="form-control ">
        </div>
        
        <div class="input-group col-sm-12 col-md-6 payment">
          <label for="street">الغرامة</label> 
          <input  class="date" type="text" formControlName="fine" class="form-control ">
      </div>

      <div class="buttons margin-top-10">
        <input type="submit"  (click)="submitCancelHotel(hotelForm)" class=" btn saveButton submit " value="حفظ">
    </div>
      </div>
      </form>
      </div>
    </div>
  </div>
</div>
<div class="row" matchHeight="card" *ngIf="user.role.dashboardPermissions.bookVisa === false">
  <div class="col-xl-12 col-lg-12">
    <div class="card card-add" >
      <div class="card-header"  >
        <h4 class="card-title mb-0"> ليس لديك صلاحيات الغاء حجز فندقي </h4>
      </div>
   </div>
  </div>
</div>










