.card-title {
    color: #912abc;
}
.item{
font-family: 'primeicons' !important;
font-size: 15px;
font-weight: 500;
color: #912abc;
}

.submit{
    color: white !important;
    border-radius: 5px;
}
.margin-top-10{
    margin-top: 10px;
}
.input-group{
    margin-bottom: 3px;
}
.input-group-text{
    background-color: #1976d2 !important;
    color: white !important;
    font-family: 'Almarai', sans-serif !important;
    border-radius: 0px;
}
.payment{
    margin-top: 3% !important;
}