.card-title {
    color: #912abc;
}
.item{
font-family: 'primeicons' !important;
font-size: 15px;
font-weight: 500;
color: #912abc;
}

.submit{
    color: white !important;
    border-radius: 5px;
}
.margin-top-10{
    margin-top: 10px;
}