
<!--Statistics cards Starts-->

<div class="row" >
	<div class="col-xl-4 col-lg-6 col-md-6 col-12">
		<div class="card gradient-blackberry">
			<div class="card-content">
				<div class="card-body pt-2 pb-0">
					<div class="media">
						<div class="media-body white text-left">
						
							<p class="box-title">  الموردين </p>
							<button  class=" btn btn-green my-1" ><i class="icon-plus icon"> </i><a href="/full-layout/full-pages/companies">  اضافة حساب جديد</a>
							</button>
						</div>
						<div class="media-right white text-right">
							<i class="icon-wallet font-large-1"></i>
						</div>
					</div>
				</div>
				<div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
					<x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
					 [events]="WidgetlineChart.events">
					</x-chartist>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-6 col-12"  >
		<div class="card gradient-ibiza-sunset">
			<div class="card-content">
				<div class="card-body pt-2 pb-0">
					<div class="media">
						<div class="media-body white text-left">
							<p class="box-title">   تذاكر الطيران</p>
							<button  class=" btn btn-green my-1" ><i class="icon-plus icon"> </i><a href="/full-layout/full-pages/bookingFlightTickets">  اضافة حجز جديد</a>
							</button>
						</div>
						<div class="media-right white text-right">
							<i class="icon-calendar font-large-1"></i>
						</div>
					</div>
				</div>
				<div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
					<x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
					 [events]="WidgetlineChart.events">
					</x-chartist>
				</div>

			</div>
		</div>
	</div>
	
	<div class="col-xl-4 col-lg-6 col-md-6 col-12" >
		<div class="card gradient-green-tea">
			<div class="card-content">
				<div class="card-body pt-2 pb-0">
					<div class="media">
						<div class="media-body white text-left">
							<p class="box-title">  البرامج السياحية</p>
							<button  class=" btn btn-green my-1" ><i class="icon-plus icon"> </i><a href="/full-layout/full-pages/createBooking">  اضافة حجز جديد</a>
							</button>
						</div>
						<div class="media-right white text-right">
							<i class="icon-plane font-large-1"></i>
						</div>
					</div>
				</div>
				<div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
					<x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
					 [events]="WidgetlineChart.events">
					</x-chartist>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-6 col-12" >
		<div class="card gradient-pomegranate">
			<div class="card-content">
				<div class="card-body pt-2 pb-0">
					<div class="media">
						<div class="media-body white text-left">
							<p class="box-title">  التأشيرات</p>
							<button  class=" btn btn-green my-1" ><i class="icon-plus icon"> </i><a href="/full-layout/full-pages/bookingVisa">  اضافة حجز جديد</a>
							</button>
						</div>
						<div class="media-right white text-right">
							<i class="icon-flag  font-large-1"></i>
						</div>
					</div>
				</div>
				<div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
					<x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
					 [events]="WidgetlineChart.events">
					</x-chartist>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-6 col-12" >
		<div class="card gradient-purple-bliss ">
			<div class="card-content">
				<div class="card-body pt-2 pb-0">
					<div class="media">
						<div class="media-body white text-left">
							<p class="box-title"> الفنادق</p>
							<button  class=" btn btn-green my-1" ><i class="icon-plus icon"> </i><a href="/full-layout/full-pages/bookingHotel">  اضافة حجز جديد</a>
							</button>
						</div>
						<div class="media-right white text-right">
							<i class="icon-star font-large-1"></i>
						</div>
					</div>
				</div>
				<div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
					<x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
					 [events]="WidgetlineChart.events">
					</x-chartist>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-6 col-md-6 col-12" >
		<div class="card gradient-mint">
			<div class="card-content">
				<div class="card-body pt-2 pb-0">
					<div class="media">
						<div class="media-body white text-left">
							<p class="box-title"> الموظفين</p>
							<button  class=" btn btn-green my-1" ><i class="icon-plus icon"> </i><a href="/full-layout/full-pages/users">  اضافة موظف جديد</a>
							</button>
						</div>
						<div class="media-right white text-right">
							<i class="icon-users font-large-1"></i>
						</div>
					</div>
				</div>
				<div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
					<x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
					 [events]="WidgetlineChart.events">
					</x-chartist>
				</div>
			</div>
		</div>
	</div>

</div>
<!--Statistics cards Ends-->



<!--Line with Area Chart 1 Starts-->
<!-- <div class="row" *ngIf="tours">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">احصائيات الرحلات مع عدد المقاعد المتاحة والحجوزات</h4>
			</div>
			<div class="card-content">
				<div class="card-body">
					<div class="chart-info mb-3 ml-3">
						<span class="btn-primary d-inline-block rounded-circle mr-1" style="width:15px; height:15px;"></span> عدد المقاعد الكلية
						<span class="btn-warning d-inline-block rounded-circle mr-1 ml-2" style="width:15px; height:15px;"></span> عدد المقاعد المحجوزة
						<span class="btn-danger d-inline-block rounded-circle mr-1 ml-2" style="width:15px; height:15px;"></span> عدد المقاعد المتبقية
					</div>
					<div id="line-area" class="height-350 lineArea">
						<x-chartist [data]="lineArea.data" [type]="lineArea.type" [options]="lineArea.options" [events]="lineArea.events">
						</x-chartist>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
<!--Line with Area Chart 1 Ends-->

<!-- <div class="row" matchHeight ="card" *ngIf="tours">
	<div class="col-xl-4 col-lg-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">حجوزات الرحلات</h4>
			</div>
			<div class="card-content users-list">
				<ul class="list-group" *ngFor="let tour of tours">
					<li class="list-group-item text-left">
					  <span class="badge bg-primary float-right text-white">{{tour?.bookings.length}}</span> {{tour?.name}}
					</li>
				  </ul>
			</div>
		</div>
	</div>

	<div class="col-xl-8 col-lg-12 col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">البرامج السياحية</h4>
			</div>
			<div class="card-content tours-list">
				<table class="table table-responsive-sm text-center">
					<thead>
						<tr>
							<th>الصورة</th>
							<th>اسم الرحلة</th>
							<th>عدد الحجوزات</th>
							<th>تاريخ الرحلة</th>
						</tr>
					</thead>
					<tbody *ngFor="let tour of tours">
						<tr>
							<td><img class="media-object round-media height-50" src="https://res.cloudinary.com/reg1rego3/image/upload/v{{tour?.imageCover.imgVersion}}/{{tour?.imageCover.imageId}}.png" alt="Generic placeholder image" /></td>
							<td>{{tour.name}}</td>
							<td>{{tour?.bookings.length}}</td>
							<td>
								{{tour?.createdAt | date}}
							</td>
						</tr>
					
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div> -->



<!-- <div class="row" matchHeight ="card">
	<div class="col-xl-8 col-lg-12 col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title mb-0">احصائيات الرحلات  كل شهر خلال السنه</h4>
			</div>
			<div class="card-content">
				<div class="card-body">
					<div class="chart-info mb-2">
						<span class="text-uppercase mr-3"><i class="fa fa-circle primary font-small-2 mr-1"></i> عدد الرحلات</span>
					</div>
					<div id="line-area2" class="height-400 lineArea2">
						<x-chartist class="" [data]="lineArea2.data" [type]="lineArea2.type" [options]="lineArea2.options"
						 [responsiveOptions]="lineArea2.responsiveOptions" [events]="lineArea2.events">

						</x-chartist>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-lg-12 col-12">
		<div class="card gradient-blackberry">
			<div class="card-content">
				<div class="card-body">
					<h4 class="card-title white">الإحصائيات</h4>
					<div class="p-2 text-center">
					
						<a class="btn btn-raised btn-round bg-white mx-3 px-3">إحصائيات اخر اسبوع</a>
						
					</div>
					<div class="my-3 text-center white">
						<a class="font-large-2 d-block mb-1">ريال {{totalEarings}} <span class="ft-arrow-up font-large-2"></span></a>
						
					</div>
				</div>
				<div id="lineChart" class="height-250 lineChart lineChartShadow">
					<x-chartist class="" [data]="lineChart.data" [type]="lineChart.type" [options]="lineChart.options"
					 [responsiveOptions]="lineChart.responsiveOptions" [events]="lineChart.events">
					</x-chartist>
				</div>
			</div>
		</div>
	</div>
</div> -->

