.costButton{
    margin-top: 4% !important;
}
.submit{
    color:white  !important;
}
.card-body{
    text-align: right !important;
}
.height-75 {
    height: 0px !important;
}
.icon-trash{
    color:red;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    margin-right: 20px;
    margin-top: 10px;
}