.costButton{
    margin-top: 4% !important;
}
.submit{
    color:white  !important;
}
.card-body{
    text-align: right !important;
}
.height-75 {
    height: 0px !important;
}
.icon-trash{
    color:red;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    margin-right: 20px;
    margin-top: 10px;
}
.btn{
    margin-left: 5px;
}
.btn-raised{
    background-color: #312662 !important;
    color:white
}
.csv{
    background-color: #e02365 !important;
    color: white !important;
}
.icon{
    color: #fcfcfc;
}

.printer{
    color:rgb(0, 4, 255) !important;
    font-size: 2em;
}
.btn-green{
    background-color: #028a8d;
    color:white !important;
}

a {
    color:white
}
.card .header {
    padding: 1.5rem;
    padding-bottom: 0px;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}
.icon{
    color: #fcfcfc;
    padding-left: 20px;
    background-color: none;
}
.btn-info{
    background-color: rgb(24, 21, 15) !important;
    color:white;
}
.toolbar {
    background-color: #e8e9ea;
    border: 1px solid #eceff2;
    padding: 0.571em 1em;
}