.submit{
    color:#ffffff !important;
    margin-right: 10px !important;

}
.icon{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 2;
    color: blue;
    padding: 1%
}
.edit {
    font-size: 20px;
    color: #0372c7;
}
form label {float: right;}
.red {
    color: #f44336 !important;
    float: right;
}
.btn-default{
    margin-top: 1%;
    margin-left: 10px;
}
.btn-raised{
    background-color: #312662 !important;
}
.csv{
    background-color: #e02365 !important;
    color: white !important;
}
.toolbar{
    margin-top: 2%;
}
.icon{
    color: #fcfcfc;}
.card .card-header {
    padding: 1.5rem;
    padding-bottom: 20px;
}
.card .header {
    padding: 1.5rem;
    padding-bottom: 0px;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}