<div class="row" matchHeight="card" *ngIf="user.role.dashboardPermissions.bookVisa === true">
  <div class="col-xl-12 col-lg-12">
    <div class="card card-add" >
      <div class="card-header"  >
        <h4 class="card-title mb-0">  حجز تأشيرة جديدة</h4>
      </div>
    </div>
   </div>
</div>
<div class="row" matchHeight="card" *ngIf="user.role.dashboardPermissions.bookVisa === true">
  <div class="col-xl-12 col-lg-12">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-content completed-tours">
        <div class="card-body add-items">

          <form   [formGroup]="visaForm"  novalidate>
            <div class="buttons margin-top-10">
              <input type="submit"  (click)="submitNewVisa(visaForm)" class=" btn saveButton submit " value="حفظ">
          </div>
            
              <div class="row">
                <div class=" borderSection form-inline"> 
                    <div class="input-group  col-sm-12  col-md-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> الحجز من </span>
                      </div>
                          <select  class="form-control" data-size="7" formControlName="bookingFrom"  >
                            <option *ngFor="let company of companies"  [ngValue]="company">{{company.name}}</option>
                        </select><span class="red">*</span>
                    </div>
                        <div class="input-group col-sm-12 col-md-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text"> الحجز الي </span>
                          </div>
                          <select class="form-control" data-size="7" formControlName="bookingTo"  >
                            <option *ngFor="let company of companies"  [ngValue]="company">{{company.name}}</option>
                        </select><span class="red">*</span>
                    </div>

                    <div class="input-group col-sm-12 col-md-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">  طريقة الدفع </span>
                      </div>
                      <select class="form-control" data-size="7" formControlName="paymentMethod"  >
                        <option *ngFor="let payment of paymentTypes"  [ngValue]="payment">{{payment}}</option>
                    </select><span class="red">*</span>
                    </div>
                    <div class="input-group col-sm-12 col-md-4 payment">
                      <div class="input-group-prepend">
                        <span class="input-group-text">  الوجهة </span>
                      </div>
                      <input  class="checkbox" type="text" formControlName="destination" class="form-control"><span class="red">*</span>
                  </div>
                  <div class="input-group col-sm-12 col-md-8 payment">
                    <div class="input-group-prepend">
                      <span class="input-group-text">  الملاحظات </span>
                    </div>
                    <input  class="checkbox" type="text" formControlName="notes" class="form-control"><span class="red">*</span>
                </div>
            </div>
         
          <div class=" borderSection row form-inline"  formArrayName="travellers"> 
          
              <!-- <input type="submit"  (click)="addTravellerButtonClick()" class=" btn btn-danger submit " value="اضافة مسافر"> -->
            <div class="keywords-container " *ngFor="let item of visaForm.get('travellers')['controls']; let i = index;">
              <div class="keyword-input-container  row" [formGroupName]='i'>
                  <div class="form-group col-sm-12 col-md-4 payment">
                    <label class="label" for="street">اسم المسافر</label>
                    <input type="text"  formControlName="travellerFirstName" class="form-control"><span class="red">*</span>
                </div>
                <div class="form-group col-sm-12 col-md-4 payment">
                  <label  class="label" for="street"> اسم العائلة</label>
                  <input type="text"  formControlName="travellerLastName" class="form-control"><span class="red">*</span>
                </div>
                <div class="form-group col-sm-12 col-md-4 payment">
                  <label  class="label" for="street">نوع المسافر</label>
                  <select  class="form-control" data-size="7" formControlName="travellerType"  >
                    <option *ngFor="let type of types"  [ngValue]="type">{{type}}</option>
                </select><span class="red">*</span>
              </div>
              <div class="form-group col-sm-12 col-md-4 payment">
                <label  class="label" for="street">رقم الجواز</label>
                <input type="text"  formControlName="passportNumber" class="form-control"><span class="red">*</span>
            </div>
            <div class="form-group col-sm-12 col-md-4 payment">
              <label  class="label" for="street">رقم الهاتف</label>
              <input  type="text" id="phone" (change)="hasError($event)"  ng2TelInput formControlName="phoneNumber" class="form-control">
              <span id="valid-msg" *ngIf="phoneSuccess" >✓ الرقم صحيح</span>
              <span id="error-msg" *ngIf="phoneError" >الرقم غير صحيح</span>
          </div>
            <div class="form-group col-sm-12 col-md-4 payment">
              <label  class="label" for="street">سعر البيع</label>
              <input type="text"  formControlName="sellingPrice" class="form-control"><span class="red">*</span>
            </div>

            <div class="form-group col-sm-12 col-md-4 payment">
              <label  class="label" for="street"> العمولة</label>
              <input type="text"  formControlName="comm" class="form-control"><span class="red">*</span>
            </div>
            <div class="form-group col-sm-12 col-md-4 payment">
              <label  class="label" for="street">مبلغ التسديد</label>
              <input type="text"  formControlName="netCost" class="form-control"><span class="red">*</span>
            </div>
            <div class="form-group col-sm-12 col-md-4 payment">
                <label class="label"  for="street"> المبلغ الواصل</label>
                <input type="text"  formControlName="receivedAmount" class="form-control"><span class="red">*</span>
            </div>
            <div class="form-group col-sm-12 col-md-4 payment">
              <label  class="label" for="street"> المبلغ الباقي</label>
              <input type="text"  formControlName="remainingAmount" class="form-control"><span class="red">*</span>
            </div>
          </div>
        </div> 
      <div  class="form-group col-sm-3"><input type="submit"   (click)="addNewTraveller()" class=" btn btn-danger submit " value="حفظ"></div> 
    </div>
  </div>
 </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-12 col-lg-12"  >
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0"> التأشيرات</h4>
      </div>

    
      <div class="card-content">
        <div class="card-body">
          <p-table  #dt [value]="visasArray" dataKey="ticket" [rows]="10" [showCurrentPageReport]="true" [paginator]="true" [rowsPerPageOptions]="[5,10,15,20]"
          [style]="{'width':'100%','overflow':'auto!important'}"
          [resizableColumns]="true" columnResizeMode="expand" styleClass="ui-table-customers" [autoLayout]="true"
          [responsive]="true" selectionMode="single"
          [filterDelay]="0" [globalFilterFields]="['travellerFirstName','travellerType','','','ticketSellingPrice','netCost','netComm' ,'totalPrice' ]">
          <ng-template pTemplate="caption">
            <div class="ui-table-globalfilter-container">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="بحث" >
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="travellerFirstName"> اسم المسافر <p-sortIcon field="travellerFirstName"></p-sortIcon></th>
                <th pSortableColumn="passportNumber">رقم الجواز  <p-sortIcon field="passportNumber"></p-sortIcon></th>
                <th pSortableColumn="phoneNumber"> رقم الهاتف <p-sortIcon field="phoneNumber"></p-sortIcon></th>
                <th pSortableColumn="sellingPrice">   سعر البيع   <p-sortIcon field="sellingPrice"></p-sortIcon></th>
                <th pSortableColumn="netCost"> مبلغ التسديد <p-sortIcon field="netCost"></p-sortIcon></th>
                <th pSortableColumn="receivedAmount">    المبلغ المدفوع    <p-sortIcon field="receivedAmount"></p-sortIcon></th>
                <th pSortableColumn="remainingAmount">    المبلغ المتبقي    <p-sortIcon field="remainingAmount"></p-sortIcon></th>
                <th pSortableColumn="comm">     صافي العمولة    <p-sortIcon field="comm"></p-sortIcon></th>
                <!-- <th >التعديل</th>  -->
                <th >الحذف</th>  
            </tr>
         </ng-template>
          <ng-template pTemplate="body" let-visa>
            <tr>
                <!-- <td>{{user.user_id}}</td> -->
                <td>{{visa?.travellerFirstName}}  {{visa?.travellerLastName}}</td>   
                <td>{{visa?.passportNumber}}</td> 
                <td>{{visa?.phoneNumber}}</td>  
                <td>{{visa?.sellingPrice}}</td>  
                <td>{{visa?.netCost}}</td> 
                <td>{{visa?.receivedAmount}}</td>  
                <td>{{visa?.remainingAmount}}</td>  
                <td>{{visa?.comm}}</td>  
                <td>
                  <div class="redTiltle" (click)="deleteTraveller(visa)">
                    <i class="ft-trash-2 ft icon"></i>
                  </div>  
                </td>         
          </tr>
          </ng-template>
        </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" matchHeight="card" *ngIf="user.role.dashboardPermissions.bookVisa === false">
  <div class="col-xl-12 col-lg-12">
    <div class="card card-add" >
      <div class="card-header"  >
        <h4 class="card-title mb-0"> ليس لديك صلاحيات حجز تأشيرة جديدة</h4>
      </div>
   </div>
  </div>
</div>










