<div class="row" matchHeight="card"  *ngIf="user.role.sidebarPermissions.visas === true">
  <div class="col-xl-12 col-lg-12">
    <div class="card card-add" >
      <div class="card-header"  >
        <h4 class="card-title mb-0"> التأشيرات</h4>
      </div>
    </div>
   </div>
</div>
<div class="row" matchHeight="card" id="print-section" *ngIf="user.role.sidebarPermissions.visas === true">

  <div class="col-xl-12 col-lg-12">
    <div class="card">
      <div class="header">
        <div>
          <button (click)="exportCSV()" class=" btn btn-default csv left" >
            <i class="icon-share-alt icon"></i>  CSV
          </button>
          <button type="button" class="btn btn-primary btn-raised my-1" printTitle="الفيز " [useExistingCss]="true" printSectionId="print-section" ngxPrint><i class="icon icon-printer"></i> طباعة</button>
          <button  class=" btn btn-green my-1" > <i class="icon-plus icon"></i><a href="/full-layout/full-pages/bookingVisa">  اضافة حجز جديد</a>
          </button>
          <button  class=" btn btn-red my-1" ><i class="icon-close icon"></i>  <a href="/full-layout/full-pages/cancelVisa"> الغاء حجز فيزا</a>
          </button>
       
        </div>
  
   
        <div class="card-body">
          <p-table [columns]="cols" #dt [value]="visas" [autoLayout]="true" [paginator]="true" [rows]="10" (onSort)="onSort($event)">
            <ng-template pTemplate="caption">
              <div class="ui-table-globalfilter-container">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" pInputText  (input)="myFilter($event)" class="filter form-control" placeholder="البحث">
                  </div>
                 </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="row-header" *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon class="" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon>
                    </th>
    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-visa let-columns="columns">
              <tr class="center-text">
                <td>{{visa?.number}}</td>
                  <td class="row-cell" ><a  class="red" *ngIf="visa.createdInvoice === true"  href="/full-layout/full-pages/visas/{{visa?._id}}">الفاتورة</a>
                  <p  *ngIf="visa.createdInvoice === false">لم يتم اصدار فاتوره</p></td>
                  <td class="row-cell">{{visa?.travellers.length }}</td>
                  <td class="row-cell">{{visa.travellers[0].travellerFirstName}}</td>
                  <td class="row-cell">{{visa.travellers[0].travellerLastName}}</td>
                  <td class="row-cell">{{visa?.destination}}</td>
                  <td class="row-cell">{{visa?.paymentMethod}}</td>
                  <td class="row-cell">{{visa?.totalNetSellingPrice}}</td>
                  <td class="row-cell">{{visa?.totalReceivedAmount}}</td>
                  <td class="row-cell">{{visa?.totalRemainingAmount}}</td>
                  <td class="row-cell">               
                  <div   *ngIf="visa.createdInvoice === false" (click)="getInvoice(visa)">
                    <i class="icon-printer icon printer"></i> 
                  </div> 
                  <div   *ngIf="visa.createdInvoice === true" >
                   تم اصدار فاتورة
                  </div> 
                  </td>
                  <td class="row-cell">
                    <span class="badge badge-success  mr-1" *ngIf="visa?.cancel === false"> الحجز قائم</span>
                    <span class="badge badge-warning  mr-1" *ngIf="visa?.cancel === true"> تم الغاء الحجز</span>
                  
                  </td>
               </tr>
            </ng-template>
        </p-table>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" matchHeight="card" *ngIf="user.role.sidebarPermissions.visas === false">
  <div class="col-xl-12 col-lg-12">
    <div class="card card-add" >
      <div class="card-header"  >
        <h4 class="card-title mb-0"> ليس لديك صلاحيات للتأشيرات </h4>
      </div>
   </div>
  </div>
</div>







