<!--Invoice template starts-->
<div class="row">
  <div class="col-md-12">
  </div>
</div>
<section class="invoice-template"  >
  <div class="card" id="print-section">
    <div class="card-body p-3">
      <div id="invoice-template" class="card-block">
        <!-- Invoice Company Details -->
       
        <div id="invoice-company-details" class="row">
          <div class="col-md-12 col-sm-12 text-center text-md-left">
            <!-- <img  [src]="sanitizer.bypassSecurityTrustUrl('/assets/img/logos/travel.png')" alt="company logo" class="mb-2" width="80" height="80"> -->
            <ul class="px-0 list-unstyled">
              <li class="text-bold-800">{{companyAccount[0].name}}</li>
              <li> {{companyAccount[0].phone}} </li>
              <li> {{companyAccount[0].address}}</li>
            </ul>
          </div> 
          <div class="col-md-12 col-sm-12 text-center text-md-right">
            <p><span class="text-muted">رقم الفاتورة :</span># {{invoice?.number}}</p>
            <p><span class="text-muted">تاريخ الفاتورة :</span> {{invoice?.createdAt | date }}</p>
            <p><span class="text-muted">طريقة الدفع :</span> {{invoice.paymentMethod}}</p> 
            <p><span class="text-muted">تاريخ المغادرة  :</span> {{invoice.departureDate | date}}</p>
            <p><span class="text-muted"> الوجهة :</span> {{invoice?.destination}}</p>
          </div>
        </div>

        <!--/ Invoice Company Details -->
        <!-- Invoice Customer Details -->
       
        <!--/ Invoice Customer Details -->
        <!-- Invoice Items Details -->
    


        <div id="invoice-items-details" class="pt-2">
          <div class="row" >
            <div class="table-responsive col-sm-12"  *ngFor="let invoice of invoice.travellers ; let i = index">
              <table class="table">
                <thead>
                  <tr>
                    <th># pnrكود</th>
                    <th>  اسم المسافر</th>
                    <th class="text-right">رقم الباسبور</th>
                    <th class="text-right">نوع المسافر</th>
             
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td ><p class="text-left">{{invoice?.pnrNumber}}</p></td>
                    <td><p class="text-left">{{invoice?.travellerFirstName}} {{invoice?.travellerLastName}}</p></td> 
                    <td><p class="text-right">{{invoice?.passportNumber}}</p></td>
                    <td><p class="text-right">{{invoice?.travellerType}}</p></td> 

                    <td>
                   
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
              <!-- <div class="table-responsive col-sm-12"  *ngIf=" invoice.type === 'refundFlightTickets' " >
                <table class="table">
                  <thead>
                    <tr>
                      <th class="text-right">رقم التذكرة</th>
                      <th class="text-right">شركة الطيران</th>
                      <th class="text-right">تاريخ الرحلة</th>
                      <th class="text-right">الوجهة</th>
                      <th class="text-right"> الملاحظات</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td ><p class="text-right">{{invoice?.pnrNumber}}</p></td>
                      <td ><p class="text-right">{{invoice?.airlineAccount}}</p></td>
                      <td><p class="text-right">{{invoice?.date | date}}</p></td>
                      <td><p class="text-right">{{invoice?.destination}}</p></td> 
                      <td><p class="text-right">{{invoice?.note}}</p></td> 
                    </tr>
                  </tbody>
                </table>
              </div> -->
           
          </div>
          <div class="row">
      
            <div class="col-md-12 col-sm-12">
              <p class="lead">المدفوعات</p>
              <div class="table-responsive">
                <table class="table">
                  <tbody >
                    <tr class="bg-grey bg-lighten-4">
                      <td class="text-bold-800">استلمت انا</td>
                      <td class="text-bold-800 text-right">{{companyAccount[0].name}}</td> 
                    </tr>
                    <tr class="bg-grey bg-lighten-4">
                      <td class="text-bold-800">السعر الكلي</td>
                      <td class="text-bold-800 text-right">{{ invoice?.totalNetSellingPrice }} ريال</td>
                    </tr> 
                    <tr class="bg-grey bg-lighten-4">
                      <td class="text-bold-800">المبلغ الواصل</td>
                      <td class="text-bold-800 text-right">{{ invoice?.totalReceivedAmount }} ريال</td>
                    </tr> 
                    <tr class="bg-grey bg-lighten-4">
                      <td class="text-bold-800">المبلغ المتبقي</td>
                      <td class="text-bold-800 text-right">{{ invoice?.totalRemainingAmount }} ريال</td>
                    </tr> 
                  </tbody>
                  

                  <!--  <tbody *ngIf="invoice.type === 'refundFlightTickets'">
                    <tr class="bg-grey bg-lighten-4">
                      <td class="text-bold-800">وصل استرجاع تذكرة</td>
                      <td class="text-bold-800 text-right">{{ invoice?.companyAccount}}</td> 
                    </tr>
                    <tr class="bg-grey bg-lighten-4">
                      <td class="text-bold-800">السعر الكلي</td>
                      <td class="text-bold-800 text-right">{{ invoice?.totalPrice }} ريال</td>
                    </tr> 
                  </tbody> -->
                </table> 
              </div>
              <div class="text-center">

                <p class="text-muted">الوصول الي المطار قبل 3 ساعات من موعد اقلاع الطائرة</p> 
                <p class="text-muted">يكون موعد اغلاق الكاونتر قبل ساعه من موعد اقلاع الطائرة</p> 
                <p class="text-muted">التأكد من تفاصيل التذكرة قبل المغادرة وبخلاف ذلك لا تتحمل الشركة اي خطأ</p> 
                <p class="text-muted">يتحمل المسافر المسؤلية كاملة في حال قطع التذكرة قبا اصدار الفيزا</p> 
                <p class="text-muted">مبلغ الفيزا غير قابل للأسترجاع في حال الرفض او الالغاء من قبل المسافر</p> 
                <p>ختم الشركة</p>
                <img   *ngIf="companyAccount[0].active === true && !selectedFile" class="photo" src="https://res.cloudinary.com/reg1rego3/image/upload/v{{companyAccount[0]?.imageCover.imageVersion}}/{{companyAccount[0]?.imageCover.imageId}}.jpg" alt="Card image cap">
              
              </div>
            </div>
          </div>
        </div>
        <!-- Invoice Footer -->
        <div id="invoice-footer">
          <div class="row">
            <div class="col-md-9 col-sm-12">
              <!-- <h6>الاحكام والشروط</h6> -->
              <!-- <p></p> -->
            </div>
            
          </div>
        </div>
        <!--/ Invoice Footer -->
      </div>
    </div>
  </div>
  <!-- <div class="col-md-3 col-sm-12 text-center"> 
    <button type="button" class="btn btn-primary btn-raised my-1" printTitle="حجز تذكرة طيران" [useExistingCss]="true" printSectionId="print-section" ngxPrint><i class="fa fa-paper-plane-o"></i> طباعة</button>
  </div> -->
</section>
<!--Invoice template ends-->

