.borderSection {
    width: 100%;
    border: 1px solid #e1dfdf;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #f8f8f8;

}
.badge{
    font-family: 'primeicons' !important;
    font-weight: 700;
    color: blue;
    padding-left: 10px;
    font-size:15px;
}
.btn-default{
    margin-top: 1%;
    margin-left: 10px;
}
.btn-raised{
    background-color: #312662 !important;
}
.csv{
    background-color: #e02365 !important;
    color: white !important;
}
.icon{
    color: #fcfcfc;
}
.red{
    color:red;
}
.pink{
   color: #e02365 !important;
}
.green{
    color:green;
}
.blue{
    color: blue !important;
 }
 .orange{
     color:orangered;
 }
 span{
    font-size: 15px;
    font-weight: 700 !important;
 }
 .blue-2{
     color:#312662
 }
 .blue-3{
    color:#22819e
}
a {
    color:white
}
.card .header {
    padding: 1.5rem;
    padding-bottom: 0px;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}
.card .card-header {
    padding-bottom: 20px;
}