<div class="row" matchHeight="card" *ngIf="user.role.sidebarPermissions.flightTickets === true">
  <div class="col-xl-12 col-lg-12">
    <div class="card card-add" >
      <div class="card-header"  >
        <h4 class="card-title mb-0"> تذاكر الطيران</h4>
      </div>
      </div>
      </div>
 </div>

<div class="row" matchHeight="card"  *ngIf="user.role.sidebarPermissions.flightTickets === true">

  <div class="col-xl-12 col-lg-12">
    <div class="card">
      <div class="header">
        <div>
          <button (click)="exportCSV()" class=" btn btn-default csv left" >
              CSV <i class="icon-share-alt icon"></i>
          </button>
          <button type="button" class="btn btn-primary btn-raised my-1" printTitle=" حجوزات تذاكر الطيران " [useExistingCss]="true" printSectionId="print-section" ngxPrint><i class="icon icon-printer"></i> طباعة</button>
          <button  class=" btn btn-green my-1" ><i class="icon-plus icon"> </i><a href="/full-layout/full-pages/bookingFlightTickets">  اضافة حجز جديد</a>
          </button>
          <button  class=" btn btn-red my-1" ><i class="icon-close icon"> </i><a href="/full-layout/full-pages/cancelFlightTicket">  الغاء حجز تذكرة</a>
          </button>
        </div>
      </div>
      <div class="card-content" id="print-section">
        <div class="card-body">
          <p-table [columns]="cols" #dt [value]="tickets" [autoLayout]="true" [paginator]="true" [rows]="10" (onSort)="onSort($event)">
            <ng-template pTemplate="caption">
              <div class="ui-table-globalfilter-container">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" pInputText  (input)="myFilter($event)" class="filter form-control" placeholder="البحث">
                  </div>
                 </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="row-header" *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon class="" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon>
                    </th>
    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ticket let-columns="columns">
            <tr>
                <td>{{ticket?.number}}</td>
                <td ><a class="reset" *ngIf="ticket.createdInvoice === true"  href="/full-layout/full-pages/invoices/{{ticket?._id}}">الفاتورة</a>
                <p  *ngIf="ticket.createdInvoice === false">لم يتم اصدار فاتورة</p></td>
                <!-- <td>{{ticket?.bookingFrom}}</td> -->
                <td>{{ticket?.travellers.length }}</td>
                <td>{{ticket.travellers[0].travellerFirstName}}</td>
                <td>{{ticket.travellers[0].travellerLastName}}</td>
                <td>{{ticket.travellers[0].phoneNumber}}</td>
                <td>{{ticket?.departureDate | date}}</td>
                <td>{{ticket?.destination}}</td>
                <td>{{ticket?.paymentMethod}}</td>
                <td>{{ticket?.totalNetSellingPrice}}</td>
                <td>{{ticket?.totalReceivedAmount}}</td>
                <td>{{ticket?.totalRemainingAmount}}</td>
                <td>               
                <div   *ngIf="ticket.createdInvoice === false" (click)="getInvoice(ticket)">
                  <i class="icon-printer icon printer"></i> 
                </div> 
                <div   *ngIf="ticket.createdInvoice === true" >
                 تم اصدار فاتورة
                </div> 
                </td>
                <td>
                  <span class="badge badge-success  mr-1" *ngIf="ticket?.cancel === false"> الحجز قائم</span>
                  <span class="badge badge-warning  mr-1" *ngIf="ticket?.cancel === true"> تم الغاء الحجز</span>
                
                </td>
             </tr>
          </ng-template>
        </p-table>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" matchHeight="card" *ngIf="user.role.sidebarPermissions.flightTickets === false">
  <div class="col-xl-12 col-lg-12">
    <div class="card card-add" >
      <div class="card-header"  >
        <h4 class="card-title mb-0"> ليس لديك صلاحيات حجز تذكرة جديدة</h4>
      </div>
   </div>
  </div>
</div>
