<div class="row" matchHeight="card">
  <div class="col-xl-12 col-lg-12">
    <div class="card card-add" >
      <div class="card-header"  >
        <h4 class="card-title mb-0"> تذاكر الطيران</h4>
      </div>
</div>

<div class="row" matchHeight="card" id="print-section">

  <div class="col-xl-12 col-lg-12">
    <div class="card">
      <div class="header">
        <div>
          <button (click)="exportCSV()" class=" btn btn-default csv left" >
              CSV <i class="icon-share-alt icon"></i>
          </button>
          <button type="button" class="btn btn-primary btn-raised my-1" printTitle=" حجوزات تذاكر الطيران " [useExistingCss]="true" printSectionId="print-section" ngxPrint><i class="icon icon-printer"></i> طباعة</button>
          <button  class=" btn btn-green my-1" ><i class="icon-plus icon"> </i><a href="/full-layout/full-pages/bookingFlightTickets">  اضافة حجز جديد</a>
          </button>
          <button  class=" btn btn-red my-1" ><i class="icon-close icon"> </i><a href="/full-layout/full-pages/cancelFlightTicket">  الغاء حجز تذكرة</a>
          </button>
        </div>
      </div>
      <div class="card-content">
        <div class="card-body">
          <p-table  #dt [value]="tickets" dataKey="name" [rows]="10" [showCurrentPageReport]="true" [paginator]="true" [rowsPerPageOptions]="[5,10,15,20]"
          currentPageReportTemplate="تذاكر الطيران" [style]="{'width':'100%','overflow':'auto!important'}"
          [resizableColumns]="true" columnResizeMode="expand" styleClass="ui-table-customers" [autoLayout]="true"
          [responsive]="true" selectionMode="single"
          [filterDelay]="0" [globalFilterFields]="['bookingFrom','number','departureDate','destination','cancel','paymentMethod','totalNetSellingPrice','totalRemainingAmount' , 'totalRemainingAmount' ]">
          <ng-template pTemplate="caption">
            <div class="ui-table-globalfilter-container">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="بحث" >
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th   pSortableColumn="number"> رقم الحجز  <p-sortIcon field="number"></p-sortIcon></th>
                <th   pSortableColumn="number">الفاتورة  <p-sortIcon field="number"></p-sortIcon></th>
                <!-- <th pSortableColumn="bookingFrom">القطع من  <p-sortIcon field="bookingFrom"></p-sortIcon></th> -->
                <th pSortableColumn="city"> عدد المسافرين <p-sortIcon field="city"></p-sortIcon></th>
                <th pSortableColumn="city">  المسافرين <p-sortIcon field="city"></p-sortIcon></th>
                <th pSortableColumn="departureDate">تاريخ المغادرة <p-sortIcon field="departureDate"></p-sortIcon></th>
                <th pSortableColumn="destination">الوجهة  <p-sortIcon field="destination"></p-sortIcon></th>
                <th pSortableColumn="paymentMethod">طريقة الدفع  <p-sortIcon field="paymentMethod"></p-sortIcon></th>
                <th pSortableColumn="totalNetSellingPrice">  السعر الكلي  <p-sortIcon field="totalNetSellingPrice"></p-sortIcon></th>
                <th pSortableColumn="totalReceivedAmount">المبلغ المدفوع <p-sortIcon field="totalReceivedAmount"></p-sortIcon></th>
                 <th pSortableColumn="totalRemainingAmount">المبلغ المتبقي <p-sortIcon field="totalRemainingAmount"></p-sortIcon></th> 
                <th  >أصدار فاتورة</th> 
                <th pSortableColumn="cancel"> حالة التذكرة  <p-sortIcon field="totalNetSellingPrice"></p-sortIcon></th>
 
            </tr>
         </ng-template>
          <ng-template pTemplate="body" let-ticket>
            <tr>
                <td>{{ticket?.number}}</td>
                <td ><a *ngIf="ticket.createdInvoice === true"  href="/full-layout/full-pages/invoices/{{ticket?._id}}">الفاتورة</a>
                <p  *ngIf="ticket.createdInvoice === false">لم يتم اصدار فاتورة</p></td>
                <!-- <td>{{ticket?.bookingFrom}}</td> -->
                <td>{{ticket?.travellers.length }}</td>
                <td>
                  <ul *ngFor="let traveller of ticket.travellers ; let i = index">
                    <li>{{traveller.travellerFirstName}} {{traveller.travellerLastName}}</li>
                  </ul>
                </td>
                <td>{{ticket?.departureDate | date}}</td>
                <td>{{ticket?.destination}}</td>
                <td>{{ticket?.paymentMethod}}</td>
                <td>{{ticket?.totalNetSellingPrice}}</td>
                <td>{{ticket?.totalReceivedAmount}}</td>
                <td>{{ticket?.totalRemainingAmount}}</td>
                <td>               
                <div   *ngIf="ticket.createdInvoice === false" (click)="getInvoice(ticket)">
                  <i class="icon-printer icon printer"></i> 
                </div> 
                <div   *ngIf="ticket.createdInvoice === true" >
                 تم اصدار فاتورة
                </div> 
                </td>
                <td>
                  <span class="badge badge-success  mr-1" *ngIf="ticket?.cancel === false"> الحجز قائم</span>
                  <span class="badge badge-warning  mr-1" *ngIf="ticket?.cancel === true"> تم الغاء الحجز</span>
                
                </td>
             </tr>
          </ng-template>
        </p-table>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" matchHeight="card">

</div>







