label{
    text-align: right;
    clear: both;
    float: left;
    padding: 6px;
    border-radius: 0px;
    background-color: #1976d2;
    color: white;
    margin-right: 15px;
}
.form-inline .form-control {
    display: inline-block;
    width: auto;
    border-radius: 0;
    vertical-align: middle;
}
.btn-default{
    margin-top: 1%;
    margin-left: 10px;
}
.btn-raised{
    background-color: #312662 !important;
}
.csv{
    background-color: #e02365 !important;
    color: white !important;
}
.toolbar{
    margin-top: 2%;
}
.icon{
    color: #fcfcfc;
    padding-left: 20px;
}
.btn-green{
    background-color: #028a8d;
    color:white;
    margin-right: 10px;
}
.btn-red{
    background-color:#e20303;
    color:white;
    margin-right: 10px;
}
.printer{
    color:rgb(0, 4, 255) !important;
    font-size: 2em;
}
a {
    color:white
}

.card .header {
    padding: 1.5rem;
    padding-bottom: 0px;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}