
.btn-primary {
    color: white !important;
}
button, input {
    text-align: right;
}
.checkbox{
    margin-right: 10%;
}
form label {
    color: #212529;
}
.blueTiltle {
    color: blue;
    font-weight: 400;
   cursor: pointer;
}
.redTiltle {
    color: red;
    font-weight: 400;
   cursor: pointer;
}
.code{
    float:left;
}
.btn-raised{
    background-color: #312662 !important;
}
.card{
   text-align: right;
}