<div class="row" matchHeight="card" *ngIf="user.role.dashboardPermissions.bookVisa === true">
  <div class="col-xl-12 col-lg-12">
    <div class="card card-add" >
      <div class="card-header"  >
        <h4 class="card-title mb-0">  حجز فندق</h4>
      </div>
    </div>
   </div>
</div>
<div class="row" matchHeight="card" *ngIf="user.role.dashboardPermissions.bookVisa === true">
  <div class="col-xl-12 col-lg-12">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-content completed-tours">
        <div class="card-body add-items">

          <form   [formGroup]="hotelForm"  novalidate>
            <div class="buttons margin-top-10">
              <input type="submit"  (click)="submitNewHotelBooking(hotelForm)" class=" btn saveButton submit " value="حفظ">
          </div>
            
              <div class="row">
                <div class=" borderSection form-inline"> 
                    <div class="input-group  col-sm-12  col-md-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> الحجز من </span>
                      </div>
                          <select  class="form-control" data-size="7" formControlName="bookingFrom"  >
                            <option *ngFor="let company of companies"  [ngValue]="company">{{company.name}}</option>
                        </select><span class="red">*</span>
                    </div>
                    <div class="input-group  col-sm-12  col-md-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> الحجز الي </span>
                      </div>
                      <select  class="form-control" data-size="7" formControlName="bookingTo"  >
                        <option *ngFor="let company of companies"  [ngValue]="company">{{company.name}}</option>
                    </select><span class="red">*</span>
                </div>
                    <div class="input-group col-sm-12 col-md-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> اسم الفندق </span>
                      </div>
                      <select class="form-control" data-size="7" formControlName="hotelName"  >
                        <option *ngFor="let hotel of hotels"  [ngValue]="hotel">{{hotel.name}}</option>
                    </select><span class="red">*</span>
                    </div>
                   
                    <div class="input-group  col-sm-12  col-md-4 payment">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> طريقة الدفع  </span>
                      </div>
                          <select  class="form-control" data-size="7" formControlName="bookingFrom"  >
                            <option *ngFor="let payment of paymentTypes"  [ngValue]="payment">{{payment}}</option>
                        </select><span class="red">*</span>
                    </div>
                  <div class="input-group col-sm-12 col-md-4 payment">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> تاريخ الوصول </span>
                    </div>
                    <input  class="date" type="date" formControlName="arrivalDate" class="form-control"><span class="red">*</span>
                </div>
                  <div class="input-group col-sm-12 col-md-4 payment">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> تاريخ المغادرة </span>
                    </div>
                    <input  class="date" type="date" formControlName="departureDate" class="form-control"><span class="red">*</span>
                </div>
                <div class="input-group col-sm-12 col-md-4 payment">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> الوجهة </span>
                  </div>
                  <input  class="checkbox" type="text" formControlName="destination" class="form-control"><span class="red">*</span>
              </div>
                <div class="input-group col-sm-12 col-md-4 payment">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> عدد البالغين </span>
                  </div>
                  <input  class="number" type="number" formControlName="adultNumber" class="form-control"><span class="red">*</span>
                 </div>
                  <div class="input-group col-sm-12 col-md-4 payment">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> عدد الاطفال </span>
                    </div>
                    <input  class="number" type="number" formControlName="childNumber" class="form-control"><span class="red">*</span>
                </div>
                  <div class="input-group col-sm-12 col-md-12 payment">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> الملاحظات </span>
                    </div>
                    <input  class="checkbox" type="text" formControlName="notes" class="form-control"><span class="red">*</span>
                </div>
            </div>
         
          <div class=" borderSection row form-inline"  formArrayName="travellers"> 
            <div ><i class="icon-calculator"  (click)="calculate()"></i></div>
              <!-- <input type="submit"  (click)="addTravellerButtonClick()" class=" btn btn-danger submit " value="اضافة مسافر"> -->
            <div class="keywords-container " *ngFor="let item of hotelForm.get('travellers')['controls']; let i = index;">
              <div class="keyword-input-container  row" [formGroupName]='i'>
                  <div class="form-group col-sm-12 col-md-4 payment">
                    <label>اسم النزيل</label>
                    <input type="text"  formControlName="guestName" class="form-control"><span class="red">*</span>
                </div>
                <div class="form-group col-sm-12 col-md-4 payment">
                  <label>رقم الهاتف</label>
                  <input  type="text" id="phone" (change)="hasError($event)"  ng2TelInput formControlName="phoneNumber" class="form-control phone">
                  <span id="valid-msg" *ngIf="phoneSuccess" >✓ الرقم صحيح</span>
                  <span id="error-msg" *ngIf="phoneError" >الرقم غير صحيح</span>
              </div>
                <div class="form-group col-sm-12 col-md-4 payment">
                  <label> نوع الغرفة </label>
                  <select class="form-control" data-size="7" formControlName="roomType"  >
                    <option *ngFor="let room of roomTypes "  [ngValue]="room">{{room}}</option>
                </select><span class="red">*</span>
                </div>
             
            <div class="form-group col-sm-12 col-md-4 payment">
              <label>سعر البيع</label>
              <input type="text"  formControlName="sellingPrice" class="form-control"><span class="red">*</span>
            </div>
            <div class="form-group col-sm-12 col-md-4 payment">
              <label>سعر الفير</label>
              <input type="text"  formControlName="costPrice" class="form-control"><span class="red">*</span>
            </div>
            <div class="form-group col-sm-12 col-md-4 payment">
              <label> العمولة</label>
              <input type="text"  formControlName="comm" class="form-control"><span class="red">*</span>
            </div>
            <div class="form-group col-sm-12 col-md-4 payment">
              <label>مبلغ التسديد</label>
              <input type="text"  formControlName="netCost" class="form-control"><span class="red">*</span>
            </div>
            <div class="form-group col-sm-12 col-md-4 payment">
                <label> المبلغ الواصل</label>
                <input type="text"  formControlName="receivedAmount" class="form-control"><span class="red">*</span>
            </div>
            <div class="form-group col-sm-12 col-md-4 payment">
              <label> المبلغ الباقي</label>
              <input type="text"  formControlName="remainingAmount" class="form-control"><span class="red">*</span>
            </div>
          </div>
        </div> 
      <div  class="form-group col-sm-3"><input type="submit"   (click)="addNewTraveller()" class=" btn btn-danger submit " value="حفظ"></div> 
    </div>
  </div>
 </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-12 col-lg-12"  >
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0"> الحجوزات</h4>
      </div>

    
      <div class="card-content">
        <div class="card-body">
          <p-table  #dt [value]="bookingArray" dataKey="guestName" [rows]="10" [showCurrentPageReport]="true" [paginator]="true" [rowsPerPageOptions]="[5,10,15,20]"
          [style]="{'width':'100%','overflow':'auto!important'}"
          [resizableColumns]="true" columnResizeMode="expand" styleClass="ui-table-customers" [autoLayout]="true"
          [responsive]="true" selectionMode="single"
          [filterDelay]="0" [globalFilterFields]="['guestName','phoneNumber','','','ticketSellingPrice','netCost','netComm' ,'totalPrice' ]">
          <ng-template pTemplate="caption">
            <div class="ui-table-globalfilter-container">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="بحث" >
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="guestName"> اسم النزيل <p-sortIcon field="guestName"></p-sortIcon></th>
                <th pSortableColumn="phoneNumber">رقم الهاتف  <p-sortIcon field="phoneNumber"></p-sortIcon></th>
                <th pSortableColumn="costPrice"> سعرالفير <p-sortIcon field="costPrice"></p-sortIcon></th>
                <th pSortableColumn="sellingPrice">   سعر البيع   <p-sortIcon field="sellingPrice"></p-sortIcon></th>
                <th pSortableColumn="netCost"> مبلغ التسديد <p-sortIcon field="netCost"></p-sortIcon></th>
                <th pSortableColumn="receivedAmount">    المبلغ المدفوع    <p-sortIcon field="receivedAmount"></p-sortIcon></th>
                <th pSortableColumn="remainingAmount">    المبلغ المتبقي    <p-sortIcon field="remainingAmount"></p-sortIcon></th>
                <th pSortableColumn="comm">     صافي العمولة    <p-sortIcon field="comm"></p-sortIcon></th>
                <!-- <th >التعديل</th>  -->
                <th >الحذف</th>  
            </tr>
         </ng-template>
          <ng-template pTemplate="body" let-booking>
            <tr>
                <!-- <td>{{user.user_id}}</td> -->
                <td>{{booking?.guestName}}</td>   
                <td>{{booking?.phoneNumber}}</td> 
                <td>{{booking?.costPrice}}</td>  
                <td>{{booking?.sellingPrice}}</td>  
                <td>{{booking?.netCost}}</td> 
                <td>{{booking?.receivedAmount}}</td>  
                <td>{{booking?.remainingAmount}}</td>  
                <td>{{booking?.comm}}</td>  
                <!-- <td>
                  <div class="blueTiltle"  (click)="editTraveller(ticket)">
                    <i class="ft-edit-2 ft icon"></i> التعديل
                  </div>  
                </td>  -->
                <td>
                  <div class="redTiltle" (click)="deleteTraveller(ticket)">
                    <i class="ft-trash-2 ft icon"></i>
                  </div>  
                </td>         
          </tr>
          </ng-template>
        </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" matchHeight="card" *ngIf="user.role.dashboardPermissions.bookVisa === false">
  <div class="col-xl-12 col-lg-12">
    <div class="card card-add" >
      <div class="card-header"  >
        <h4 class="card-title mb-0"> ليس لديك صلاحيات حجز تأشيرة جديدة</h4>
      </div>
   </div>
  </div>
</div>










